@import 'src/assets/styles/variables';

.P-profile-addresses-modify-title {

  > h3 {
    width           : 100%;
    color           : $main-color;
    padding         : 0 40px;
    position        : relative;
    display         : flex;
    font-size       : 38px;
    margin-bottom   : 60px;
    justify-content : center;

    > i {
      top       : 50%;
      left      : 0;
      width     : 26px;
      position  : absolute;
      transform : translateY(-50%);
    }
  }
}

.P-profile-addresses-modify {

  > .G-main-form {
    width           : 100%;
    justify-content : flex-end;

    & > .P-page-title {
      color         : $main-color;
      display       : block;
      font-size     : 22px;
      padding-left  : 10px;
      margin-bottom : 30px;
    }
  }
  > .P-form-block {
    .G-main-button {
      width: 210px;
    }

    @media(max-width: $mobile-screen) {
      margin: 0 !important;
    }
    @media(max-width: $small-mobile-screen) {
      padding: 20px !important;
    }
    @media(max-width: $extra-small-mobile-screen) {
      padding: 10px !important;
    }
    .P-page-title {
      font-weight: bold;
    }
   @media(max-width: $mobile-screen) {
     .G-main-button {

       height: 45px;
       padding: 0 10px;
       margin-top: 20px;
     }
   }
  }

  @media(max-width: $tablet-screen) {

    .P-address-form {
      flex-direction: column;
    }
  }
}
