@import 'src/assets/styles/variables';

.G-page-title-left {
  font-size : 26px;
  color     : #49B748;
}

.G-main-button {
  padding: 10px;
}

.P-profile-addresses {
  display: flex;
  flex-direction: column;
}
