@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-product-item {
  cursor: pointer;
  width           : calc(25% - 20px);
  margin          : 10px;
  color           : black;
  height          : auto;
  border          : 1px solid $dark-gray;
  padding         : 15px;
  display         : flex;
  position        : relative;
  flex-wrap       : wrap;
  border-radius   : $small-radius;
  text-decoration : none;

  > .P-image {

    width         : 100%;
    height        : 180px;
    display       : flex;
    overflow      : hidden;
    align-items   : center;
    margin-bottom : 10px;

    > img { width: 100%; }
  }

  > h3 {
  
    width     : 100%;
    color     : $broken-black;
    font-size : 16px;
    min-height: 50px;
    @include normal-font;
  }

  > .P-pricing {

    > h3 {

      color      : #505050;
      font-size  : 16px;
      margin-top : 20px;
      @include normal-font;
  
      > del { color: $text-gray-light; }
    }  
  }

  > h4 {

    font-size  : 14px;
    margin-top : 10px;
    @include normal-font;

    > .G-info-span {

      width        : 20px;
      height       : 20px;
      margin-right : 10px;
    }

    > .P-bonus-text { margin-right: 10px; }

    > .P-preparing-days {

      color        : $main-color;
      margin-right : 5px;
    }
  }
}

.P-details-modal{
  .P-modal-content{
    width: 70%;
    height: 90vh;
    overflow: auto;
  }
  padding: 0;
  .G-page{
    padding: 40px 40px !important;
  }
}