@media (max-width: $medium-screen) {
  div.P-blog-list-item {
    width : calc(50% - 20px);
  }
}

@media (max-width: $tablet-screen) {
  div.P-blog-list-item {
    width : calc(100% - 20px);
  }
}

@media (max-width: $small-mobile-screen) {
  div.P-blog-list-item {
    width : calc(100% - 20px);

    > .P-image {
      width      : 130px;
      height: 130px;
      min-height : 130px;
    }

    > .P-content {
      padding   : 10px;

      > h3 {
        margin-bottom : 10px;
        font-size: 16px;
      }
      >h4{
        margin-left: 80px;
        font-size: 14px;
      }
    }
  }

}

@media (min-width: 321px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 375px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 125px;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 425px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 170px;
      }
    }
  }
}
@media (min-width: 600px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 290px;
      }
    }
  }
}
@media (min-width: 700px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 350px;
      }
    }
  }
}
@media (min-width: 768px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 465px;
      }
    }
  }
}

@media (min-width: 810px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 500px;
      }
    }
  }
}
@media (min-width: 900px) {
  div.P-blog-list-item {
  width: 45%;
    > .P-content {
      >h4{
        margin-left: 120px;
      }
    }
  }
}

@media (min-width: 960px) {
  div.P-blog-list-item {
    width: 45%;
    > .P-content {
      >h4{
        margin-left: 150px;
      }
    }
  }
}


@media (min-width: 1024px) {
  div.P-blog-list-item {
  width: 46%;
    > .P-content {
      >h4{
        margin-left: 190px;
      }
    }
  }
}

@media (min-width: 1124px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 230px;
      }
    }
  }
}
@media (min-width: 1324px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 300px;
      }
    }
  }
}

@media (min-width: 1440px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 380px;
      }
    }
  }
}


@media (min-width: 1441px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 300px;
      }
    }
  }
}

@media (min-width: 1530px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 370px;
      }
    }
  }
}

@media (min-width: 1630px) {
  div.P-blog-list-item {
    width: 30%;
    > .P-content {
      >h4{
        margin-left: 170px;
      }
    }
  }
}

@media (min-width: 1750px) {
  div.P-blog-list-item {
    width: 30%;
    > .P-content {
      >h4{
        margin-left: 190px;
      }
    }
  }
}
@media (min-width: 1800px) {
  div.P-blog-list-item {
    width: 30%;
    > .P-content {
      >h4{
        margin-left: 200px;
      }
    }
  }
}

@media (min-width: 1850px) {
  div.P-blog-list-item {

    > .P-content {
      >h4{
        margin-left: 220px;
      }
    }
  }
}

@media (min-width: 2100px) {
  div.P-blog-list-item {
  width: 30%;
    > .P-content {
      >h4{
        margin-left: 250px;
      }
    }
  }
}


@media (min-width: 2560px) {
  div.P-blog-list-item {
    width: 30%;
    > .P-content {
      >h4{
        margin-left: 260px;
      }
    }
  }
}

