@import 'src/assets/styles/variables';

.P-wish-list-page > .P-wish-list-content.P-wish-list-guest {

  width         : 100%;
  overflow      : hidden;
  box-shadow    : $default-block-shadow;
  border-radius : $radius;

  > .P-product-row {

    padding : 10px 30px;

    &:first-child { margin-top: 20px; }
    &:last-child { margin-bottom: 20px; }
  }
}