@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-auth-modal .P-modal-content > div {
  padding        : 30px 30px;
  display        : flex;
  align-items    : center;
  flex-direction : column;

  .P-error-message {
    color       : red;
    font-size   : 13px;
    margin-left : 10px;
  }

  > h3 {
    font-size      : 20px;
    margin-bottom  : 30px;
    text-transform : uppercase;
    @include bold-font();
  }

  > .P-sign-in-restore-password {
    color      : $green;
    margin     : 5px 0 0 auto;
    cursor     : pointer;
    text-align : right;

    @media (max-width : $mobile-screen) {
      margin: 20px auto 0;
    }
  }

  > .P-sign-in-register-text {
    color  : black;
    margin : 20px 0 20px;
  }

  > .P-sign-in-register {
    width         : 100%;
    padding       : 15px;
    border-radius : 30px;
  }
}

@media (max-height : 700px) {
  .P-auth-modal {
    align-items : flex-start;

    .P-modal-content {
      margin : 30px 0;
    }
  }
}

@media (max-width : $mobile-screen) {
  .P-auth-modal {
    .P-modal-content {
      > div {
        padding : 0;
      }

      .G-main-button {
        padding : 7px 15px;
      }
      .P-close{
        font-size: 18px;
      }
    }
    .P-sign-in-register{
      padding: 7px 15px !important;
    }
    .P-auth-social-button{
      height: 40px;
      font-size: 15px;
      img{
        width: 20px;
      }
    }
  }
}
