@import 'src/assets/styles/variables';

.G-page.P-products-list-page {
  display        : flex;
  align-items    : flex-start;
  padding-top    : 100px;
  padding-bottom : 100px;

  > .P-shadow-text { margin-bottom: 130px; }

  > .G-main-ghost-button { margin-top: 75px; }

  > .P-list-wrapper {
    margin      : 0 -20px;
    display     : flex;
    flex-wrap   : wrap;
    align-items : flex-start;

    > .P-no-data {
      position: absolute;
      text-align: center;
      color: gray;
      left: 50%;
      top: 40%;

      > .P-desc {
        font-size: 25px;
      }
    }
  }
}
