@import 'src/assets/styles/variables';

@import './responsive';

.G-page-title-category {
  min-height     : auto !important;
  padding-bottom : 0 !important;
  margin-left    : 300px !important;
}

.G-page.P-products-list-page {
  display         : flex;
  align-items     : flex-start;
  padding-top     : 50px;
  padding-bottom  : 100px;
  justify-content : center;
  width           : 100%;

  > .P-shadow-text { margin-bottom: 130px; }

  > .G-main-ghost-button { margin-top: 75px; }

  > .P-list-wrapper {
    margin      : 0 -20px;
    display     : flex;
    flex-wrap   : wrap;
    align-items : flex-start;
    width       : 100%;

    > .P-no-data {
      position   : absolute;
      text-align : center;
      color      : gray;
      left       : 50%;
      top        : 40%;

      > .P-desc {
        font-size : 25px;
      }
    }
  }
}
