@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-profile-order-details {
  .P-info-wraper {

    @media (min-width: $tablet-screen) {
      display: flex;
      justify-content: space-around;
    }

    .P-main-info-block {
      @media (min-width: $tablet-screen) {
        margin-right: 20px;
      }
    }

    .P-main-info-block,
    .P-address-block {
      width: 100%;
      padding: 20px 40px;
      min-width: calc($extra-small-mobile-screen - 20px);
      background: white;
      box-shadow: $default-block-shadow;
      margin-bottom: 40px;
      border-radius: $big-radius;
      @include main-top-border;

      @media (max-width: $small-mobile-screen) {
        padding: 20px 20px;
        * {
          font-size: 13px;
          padding: 0;
        }
      }


      >h3 {
        white-space: nowrap;
        @include normal-font;

        >span {
          max-width: 50%;
          word-break: break-all;
          white-space: normal;
          margin-left: 20px;
        }
      }
    }
  }

  >.P-actions-block {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;

    @media (max-width: $mobile-screen) {
      flex-flow: column;
    }

    >button {
      padding: 15px 60px;

      @media (max-width: $mobile-screen) {
        margin: 10px 0 0 0;
        width: 100%;
      }
    }
  }
}