@import 'src/assets/styles/variables';

.P-wish-list-user-left-menu > h3 {

  display       : block;
  overflow      : hidden;
  white-space   : nowrap;
  line-height   : 60px;
  text-overflow : ellipsis;
}