@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-my-orders-page {

  > .P-page-content {

    display     : flex;
    align-items : flex-start;
  
    > .P-content {
  
      width         : calc(100% - 300px);
      background    : white;
      box-shadow    : $default-block-shadow;
      margin-left   : 20px;
      border-radius : $radius;
  
      > .P-item {

        cursor        : pointer;
        padding       : 30px;
        display       : flex;
        flex-wrap     : wrap;
        align-items   : flex-start;
        border-bottom : 8px solid $dark-gray;
  
        &:last-child { border-bottom: 0; }

        > .P-item-content {

          width : 100%;

          > h3 {
  
            color           : $text-gray;
            display         : flex;
            font-size       : $normal-fs;
            margin-bottom   : 5px;
            justify-content : space-between;
            @include normal-font;
    
            > .P-item-status { font-size: 16px; }
          }
    
          > h4 {
    
            color         : $text-gray-light;
            font-size     : 16px;
            margin-bottom : 15px;
            @include normal-font;

            &.P-total { margin: 10px 0 0 0; }
          }

          > hr {
            
            margin-top          : 10px;
            border-bottom-color : $dark-gray;
          }

          > .P-product {

            display    : flex;
            margin-top : 20px;
                
            > .P-image {
        
              height        : 70px;
              border        : 1px solid $dark-gray;
              padding       : 10px;
              min-width     : 70px;
              margin-right  : 20px;
              border-radius : $small-radius;
        
              > div {
                
                width  : 100%;
                height : 100%;
              }
            }
        
            > h3 {
        
              @include normal-font;

              &:last-child { margin-bottom: 0; }
              &.P-texts {
        
                width       : 100%;
                display     : flex;
                align-items : center;
          
                > span { margin: 0 0 0 auto; }
              }
            }
          }
        }
      }
    }  
  }
}