@import 'src/assets/styles/variables';

.G-page.P-home-discounted-products {
  display        : flex;
  padding-top    : 100px;
  padding-bottom : 100px;
  flex-direction : column;

  @media (max-width : $small-screen) {
    .slick-slide {
      padding: 0px !important;
    }
  }

  @media (max-width : $medium-screen) {
    .slick-slide {
      padding: 0px !important;
    }
  }

  @media (max-width : $small-mobile-screen) {
    .G-page-title {
      font-size: $btn-radius !important;
    }
  }

  > .P-shadow-text {
    margin-bottom : 130px;
  }

  > .G-main-ghost-button {
    margin-top : 20px;
    @media (max-width : $small-mobile-screen) {
      margin-top: 7px;
    }
  }

  > .P-list-wrapper {
    width  : 95%;
    margin : 0 auto;

    .react-multi-carousel-list {
      position : unset;
    }

    .react-multiple-carousel__arrow--left {
      z-index    : 0;
      left       : 5%;
      background : none;

      &:before {
        color     : gray;
        font-size : 50px;
        @media(max-width : $tablet-screen) {
          font-size : 30px;
        }
      }
    }

    .react-multiple-carousel__arrow--right {
      z-index    : 0;
      right      : 5%;
      background : none;

      &:before {
        color     : gray;
        font-size : 50px;
        @media(max-width : $tablet-screen) {
          font-size : 30px;
        }
      }
    }
  }

  @media(max-width : $tablet-screen) {
    .G-page-title {
      font-size     : 20px;
      margin-bottom : 10px;
    }
  }
}

.P-home-discounted-products {
  .slick-prev, .slick-next {
    z-index : 1;

    &:before {
      color   : $text-gray;
      z-index : 5;
    }

    &.slick-disabled { display : none; }
  }
  .slick-prev{
    left: -10px;
  }
  .slick-next{
    right: -10px;
  }

  .slick-slide {
    padding: 15px;
  }
}
