@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-attributes {

  > div {

    display       : flex;
    flex-wrap     : wrap;
    margin-bottom : 25px;

    > h3 {

      width     : 100%;
      font-size : $normal-fs;
      @include normal-font;
    }

    > .P-attribute {

      margin        : 15px 20px 0 0;
      border-radius : $small-radius;
  
      &.P-choosed { border: 1px solid $text-gray-light; }
      &.P-disabled {
    
        // cursor  : not-allowed;
        opacity : .2;
      }
    }
  }
}