@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-image-carousel-modal .P-modal-content {
  width     : 1000px;
  max-width : calc(100vw - 40px);

  > div {
    padding : 35px 50px 40px;

    .P-slide > div {
      height     : 600px;
      max-height : calc(100vh - 120px);
    }
  }
}

.P-link-item { text-decoration: none !important; margin-top: 20px; }
