@import 'src/assets/styles/variables';

.P-profile-favorites {
  padding        : 0 20px;
  display        : flex;
  background     : white;
  box-shadow     : $default-block-shadow;
  border-radius  : $big-radius;
  flex-direction : column;

  > .P-list-item {
    color           : black;
    padding         : 20px 0;
    display         : flex;
    position        : relative;
    align-items     : center;
    border-bottom   : 1px solid $light-gray;
    justify-content : space-between;
    text-decoration : none;

    > .P-image {
      display         : flex;
      align-items     : flex-start;
      justify-content : flex-end;

      > .P-favorite {
        color     : $text-gray;
        cursor    : pointer;
        z-index   : 1;
        position  : relative;
        font-size : 20px;
    
        &.P-active {
          color: $pink;
        }
      }
    }

    > .P-main-info {
      margin : 0 auto 0 40px;

      > h2 {
        font-size     : $normal-fs;
        margin-bottom : 20px;
      }
    }

    .P-price {
      margin-right : 40px;
    }    

    &:last-child { border-bottom: 0; }
  }
}