@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-cart-list {

  width         : 100%;
  overflow      : hidden;
  box-shadow    : $default-block-shadow;
  margin-right  : 40px;
  border-radius : $radius;

  &.P-has-chosen { width: calc(100% - 340px); }

  > .P-all-products {

    display       : block;
    padding       : 20px 30px;
    font-size     : $normal-fs;
    margin-bottom : 10px;
    border-bottom : 8px solid $dark-gray;
    @include normal-font;

    > .P-checkbox { margin-right: 20px; }
  }

  &.P-empty {
    
    width        : 100%;
    margin-right : 0;
  }

  > .P-product-row {

    cursor          : pointer;
    padding         : 10px 30px;
    display         : flex;
    align-items     : center;
    justify-content : space-between;


    &:first-child { margin-top: 20px; }
    &:last-child { margin-bottom: 20px; }

    > .P-count-input { margin-bottom: 0; }
    .P-image {

      height        : 70px;
      border        : 1px solid $light-gray;
      padding       : 10px;
      min-width     : 70px;
      border-radius : $small-radius;

      > div {

        width  : 100%;
        height : 100%;
      }
    }

    .P-product-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 320px;

      .P-price {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 401px) {
          margin: 0 15px;
        }

        @media (max-width: 400px) {
          margin: 0 15px 0 -155px;
        }

      }

      .P-delete-bin{
        display: flex;
      }
    }

    .P-name-attributes {

      color           : black;
      margin          : auto auto auto 0;
      cursor          : pointer;
      padding         : 0 20px;
      max-width       : 30%;
      font-size       : 16px;
      word-break      : break-word;
      text-decoration : none;
      @include normal-font;
      
      &.G-pink { width: auto; }
      > .P-attributes {
      
        width      : 100%;
        color      : $text-gray-light;
        display    : block;
        font-size  : 14px;
        margin-top : 5px;
      }
    }

    > h3 {

      @include normal-font;

      &.P-price {

        overflow      : hidden;
        max-width     : 100%;
        text-align    : right;
        white-space   : nowrap;
        padding-left  : 20px;
        text-overflow : ellipsis;

        > del {
        
          color       : $text-gray-light;
          margin-left : 10px;
        }
      }

      &.P-delete {
        
        width       : auto;
        margin-left : 20px;
      }

      > .P-attributes {
      
        width      : 100%;
        color      : $text-gray-light;
        display    : block;
        font-size  : 16px;
        margin-top : 5px;
      }
    }
  }
}
