@import 'src/assets/styles/variables';

.P-header-notifications {
  top        : 80px;
  width      : 360px;
  right      : 50px;
  padding    : 15px;
  position   : absolute;
  box-shadow : $default-block-shadow;
  background : white;
  overflow-y : auto;
  max-height : 300px;

  > h6 {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    font-weight     : 100;
    padding         : 10px 0 20px;
    font-size       : 18px;
    border-bottom   : 1px solid $light-gray;

    > a {
      cursor          : pointer;
      font-size       : 12px;
      text-decoration : underline;
    }
  }

  .P-list-item {
    color           : black;
    display         : flex;
    padding         : 5px 0;
    font-size       : 16px;
    text-decoration : none;
    cursor: pointer;

    &.P-unseen {
      background-color: #49B7480F;
    }
    
    img {
      width: 20px;
      margin-right: 20px;
    }

    h5 {
      font-size: 16px;
    }

    span {
      color: #A1A1A1;
      font-size: 14px;
    }
  }
}