@import 'src/assets/styles/variables';

.P-header-notifications {
  top: 80px;
  width: 360px;
  right: 0;
  padding: 15px;
  position: absolute;
  box-shadow: $default-block-shadow;
  background: white;
  overflow-y: auto;
  max-height: 300px;

  @media (max-width: $small-screen) {
    top: 70px;
  }

  @media (max-width: $mobile-screen) {
    top: 70px;
    right: 2px;
    left: 2px;
    height: calc(100vh - 70px);
    width: unset;
    max-height: unset;
  }

  h6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    padding: 10px 0 20px;
    font-size: 18px;
    border-bottom: 1px solid $light-gray;

    a {
      cursor: pointer;
      font-size: 12px;
      text-decoration: underline;
    }
  }

  .P-list-item {
    color: black;
    display: flex;
    padding: 5px 0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    
    border-bottom: unset;
    box-shadow: unset;
    border-radius: unset;
    align-items: unset;
    border-radius: unset;
    justify-content: unset;

    > div {

      .P-desc {
          color: #A1A1A1;
          font-size: 14px;
          white-space: nowrap; 
          width: 250px; 
          overflow: hidden;
          text-overflow: ellipsis; 
      }
    }

    &.P-unseen {
      background-color: #49B7480F;
    }

    img {
      width: 20px;
      margin-right: 20px;
    }

    h5 {
      font-size: 16px;
    }

    span {
      color: #A1A1A1;
      font-size: 14px;
    }
  }
}
