@media (max-width: $tablet-screen) {
  .G-page.P-home-contact-us > div.P-bottom > div {
    > i { font-size: 50px; }
    > h3 { font-size: 14px; }
  }
}
@media (max-width: 1300px) {
  .P-home-map {
    width: 100% !important;
    margin: 130px auto 110px !important;
  }
}