@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

@import './responsive';

.G-page.P-home-news + .G-page.P-home-contact-us {
  padding-top : 100px;
  background: url('src/assets/images/background_alfa.svg') no-repeat center/cover;
  background-size: 100%;
  background-position-y: 20%;
  background-position-x: center;
}

@media (max-width : $mobile-screen) {

  .P-icons-info {
    top: 5px !important;
    left: 5px !important;
    width: 120px !important;
    height: 55px !important;
    font-size: 12px !important;
    padding-top: 10px !important;
  }
}

.P-icons-info {
  background: white;
  position: absolute;
  top: 35px;
  left: 35px;
  width: 160px;
  height: 75px;
  padding-top: 15px;

  p {
    margin-left: 15px;
     b {
        margin-left: 15px;
     }
  }
}

.G-page.P-home-contact-us {

  display        : flex;
  overflow       : hidden;
  padding-top    : 0;
  flex-direction : column;

  @media (max-width : $small-mobile-screen) {
    .G-page-title {
      font-size: 26px !important;
      margin-bottom: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width : $extra-small-mobile-screen) {
    .G-page-title {
      font-size: 24px !important;
    }
  }

  > .P-shadow-text {
    margin-bottom : 100px;
  }

  > .P-maps {
    width  : calc(100% + #{2 * $page-horizontal-offset});
    height : 500px;
    margin : 130px 0 0 (-$page-horizontal-offset);
    border : 0;
    position: relative;
  }



  > .P-bottom {
    margin          : 0 10vw;
    display         : flex;
    padding-top     : 30px; // 30px = 50px - 20px child vertical offset;
    justify-content : space-between;

    > div {
      flex           : 1;
      color          : $text-gray;
      margin         : 20px;
      cursor         : pointer;
      display        : flex;
      align-items    : center;
      flex-direction : column;

      &:hover {
        color : $main-color;
      }

      > i {
        font-size : 70px;
      }

      > h3 {
        font-size      : $normal-fs;
        text-align     : center;
        margin-top     : 10px;
        white-space    : nowrap;
        text-transform : uppercase;
        @include bold-font();
      }
    }
  }
  .P-info-row {
    display     : flex;
    font-size   : 18px;
    margin-top  : 20px;
    @include normal-font;

    i {
      padding-top: 3px;
      margin-right: 10px;
    }
  }
}

.P-contact-us-about-modal .P-modal-content {
  min-width  : 45vw;
  max-height : 90vh;
  overflow   : auto;
}


.P-contact-us-about-modal .P-modal-content > div {
  color          : $main-color;
  padding        : 30px;
  display        : flex;
  align-items    : center;
  flex-direction : column;

  > i {
    font-size : 70px;
  }

  > h3 {
    font-size      : 20px;
    margin-top     : 10px;
    text-transform : uppercase;
    @include bold-font();
  }

  > p {
    color       : black;
    text-align  : center;
    margin-top  : 30px;
    line-height : 40px;
  }

  > .P-download-images {
    display    : flex;
    margin-top : 30px;

    > a {
      width  : 100px;
      margin : 0 60px;
      cursor : pointer;

      > img { width: 100%; }
    }
  }
}

.G-main-form {
  @media (max-width : $mobile-screen) {
    input {
      padding   : 7px 15px;
      font-size : 16px;
    }
    textarea {
      padding   : 7px 15px;
      font-size : 16px;
    }
  }
}

.P-form-button {
  padding : 7px 15px !important;
}

.P-bottom {
  > div {
    @media (max-width : $mobile-screen) {
      margin : 10px !important;
    }
  }
}
