@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-product-info {

  width      : 100%;
  margin-top : 70px;

  > .P-info-tabs {

    display : flex;
  
    > h2 {
  
      color        : $light-gray;
      cursor       : pointer;
      transition   : .2s;
      margin-right : 50px;
  
      &.P-choosed { color: black; }
    }
  }
  
  > .P-info-description {
  
    width      : 100%;
    font-size  : $normal-fs !important;
    margin-top : 40px;
    font-family: 'Montserratarm', 'Verdana', 'Regular' !important;
  }
  
  > .P-info-features {
  
    display         : flex;
    flex-wrap       : wrap;
    margin-top      : 25px;
    justify-content : space-between;
  
    > div {
  
      width           : calc(50% - 20px);
      display         : flex;
      padding         : 15px 0;
      align-items     : center;
      border-bottom   : 1px solid $dark-gray;
      justify-content : space-between;
  
      > h3 {
  
        width     : calc(50% - 10px);
        font-size : $normal-fs;
        @include normal-font;

        &.P-feature-title { color: #999; }
      }
    }
  }
}
