@import 'src/assets/styles/variables';

.P-verify-phone-modal .P-modal-content {

  width         : 600px;
  padding       : 40px;
  border-radius : $radius;

  > div > h2 { margin-bottom: 15px; }
  > div > p {
    
    font-size     : $normal-fs;
    margin-bottom : 50px;
  }
}