@import 'src/assets/styles/variables';

.P-about-us-stuff {
  display        : flex;
  align-items    : flex-end;
  flex-direction : column;

  > .P-shadow-text {
    margin : 80px 0;
  }

  > p {
    font-size   : 16px;
    line-height : 28px;
  }

  > .P-maps {
    width  : calc(100% + #{2 * $page-horizontal-offset});
    height : 500px;
    border : 0;
    margin : 100px (-$page-horizontal-offset) 0 0;
  }
}