@import 'src/assets/styles/variables';

.P-pharmacies-search-options {
  display         : flex !important;
  background      : url('src/assets/images/pharmacy_background.png') center/cover;
  flex-direction  : column;
  justify-content : center;

  @media (max-width: 766.98px){
    min-height: auto !important;
    &.G-page{
      padding: 120px 15px !important;
    }
  }

  > .P-shadow-text { margin-bottom: 60px; }
  > .P-form { width: 600px }

  > p {
    width         : 50%;
    font-size     : 24px;
    margin-bottom : 60px;
  }

  > .G-main-form {

    .P-select-body {
      width : 100%;
    }

    @media(max-width: 576.98px){
      flex-direction: column;
    }

    > .G-main-button {
      padding      : 10px 30px;
      font-size    : $normal-fs;
      margin-right : auto;
    }

    @media(max-width: 576.98px){
      .G-main-form-half-field{
        width: 100%;
      }
    }
  }
}


