@import 'src/assets/styles/variables';

.P-pharmacies-search-options {
  display         : flex !important;
  background      : url('src/assets/images/pharmacy_background.png') center/cover;
  flex-direction  : column;
  justify-content : center;

  > .P-shadow-text { margin-bottom: 60px; }
  > .P-form { width: 600px }

  > p {
    width         : 50%;
    font-size     : 24px;
    margin-bottom : 60px;
  }

  > .G-main-form {

    > .G-main-button {
      padding      : 10px 30px;
      font-size    : $normal-fs;
      margin-right : auto;
    }
  }
}