@import 'src/assets/styles/variables';

.P-google-maps {

  width  : 100%;
  height : 100%;

  > .P-google-maps-wrapper {

    width  : 100%;
    height : 100%;

    // Map type switchers

    .gm-style-mtc { display: none !important; }

    // Info window

    .gm-style-iw-c {
      box-shadow : $default-block-shadow;

      > .gm-ui-hover-effect[aria-label=Close] { display: none !important; } // Close icon
    }
  }
}