@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-products-table-list {

  .P-data-table-body > ul {
    height        : auto;
    display       : flex;
    padding       : 16px;
    align-items   : center;

    > li > div {
      transform : initial;

      h2 {
        font-size : $normal-fs;
      }

      > a {
        color           : black;
        display         : flex;
        padding         : 5px;
        text-decoration : none;
        @include bold-font;

        > .G-square-image-block {
          width  : 150px;
          height : 150px;
        }
  
        > .P-main-info {
          display         : flex;
          padding         : 0 30px;
          flex-direction  : column;
          justify-content : center;
          white-space     : normal;
          
          > h1,h2,h3,h4,h5,h6 {
            overflow          : hidden;
            text-overflow     : ellipsis;
            display           : -webkit-box;
            -webkit-line-clamp: 3;
            -moz-line-clamp   : 3;
            -moz-box-orient   : vertical;
            -webkit-box-orient: vertical;
            /* autoprefixer: off */
          }

          > span {
            margin-top : 20px;
            @include normal-font;
          }
        }
      }
    }
  }
}