@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

button.P-footer-order-a-call-button {
  padding    : 10px 40px;
  font-size  : 14px;
  margin-top : 10px;
}

.P-footer-order-a-call-modal .P-modal-content > div {
  color          : $main-color;
  padding        : 60px 30px;
  display        : flex;
  align-items    : center;
  flex-direction : column;

  @media (max-width: $mobile-screen) {
    > .G-main-form {

      input {
        padding: 9px 15px;
      }

      > .G-phone-input-wrapper {
        > .G-input-country-code {
          top: calc(50% - 10px);
        }

        > .G-main-input {
          padding-left: 80px;
        }
      }

      > .G-main-button {
        padding: 7px;
      }
    }
  }
  
  > h3 {
    font-size      : 20px;
    margin-bottom  : 50px;
    text-transform : uppercase;
    @include bold-font();
  }
}
