@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-popular-categories {

  height : 580px;

  .P-slider-back, .P-slider-next { background: white; }
  .P-category {

    width           : 400px !important;
    height          : 580px;
    padding         : 30px;
    max-width       : calc(100% - 40px) !important;
    background      : #F6F6F6;
    margin-right    : 40px !important;
    border-radius   : $radius;
    text-decoration : none;

    > .P-title {

      color           : black;
      display         : block;
      overflow        : hidden;
      font-size       : 22px;
      white-space     : nowrap;
      margin-bottom   : 30px;
      text-overflow   : ellipsis;
      text-decoration : none;
    }

    > .P-item {

      color           : black;
      display         : flex;
      margin-top      : 20px;
      align-items     : center;
      text-decoration : none;

      > .P-cover {

        border        : 1px solid $dark-gray;
        min-width     : 60px;
        min-height    : 60px;
        margin-right  : 20px;
        border-radius : $small-radius;
      }

      > h3 {

        display       : flex;
        overflow      : hidden;
        flex-wrap     : wrap;
        white-space   : nowrap;
        text-overflow : ellipsis;
        @include normal-font;

        > span {

          width      : 100%;
          color      : $text-gray-light;
          font-size  : 16px;
          margin-top : 5px;
        }
      }
    }
  }
}

.no-item {
  position: relative !important;
  width: 100%;
  height: 250px !important;
  background: transparent;
}
.T-small-loader-wrap {

  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 250px;
  display    : flex;
  position   : absolute;
  background : transparent;

  .loader-small {

    width            : 50px;
    border           : 4px solid #f3f3f3;
    height           : 50px;
    margin           : auto;
    animation        : spin 1s linear infinite;
    border-radius    : 50%;
    border-top-color : #000;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
