@import 'src/assets/styles/variables';

.P-payer-information-modal .P-modal-content {

  width         : 600px;
  padding       : 40px;
  border-radius : $radius;

  > div > h2 { margin-bottom: 50px; }
}