@import 'src/assets/styles/variables';

.P-profile-orders {
  display         : flex;
  justify-content : space-between;
  flex-wrap       : wrap;

  & > .P-order-item-box {
    width: 48.5%;

    @media (max-width: $tablet-screen) {
      width: 100%;
    }
  }
}
