@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-vacancies-list-item {
  cursor          : pointer;
  display         : flex;
  padding         : 23px 35px 35px; // 23px = 35px - Top border size
  transition      : background-color .4s;
  box-shadow      : $default-block-shadow;
  align-items     : center;
  border-radius   : $big-radius;
  justify-content : space-between;
  @include main-top-border();

  &.P-open {
    color            : $main-color;
    border           : 1px solid $main-color;
    padding          : 34px; // 34px = 35px - B order size
    background-color : $main-color-light;

    > .P-description {
      opacity   : 1;
      transform : none;
    }

    > i {
      transform: rotate(180deg);
    }
  }

  > .P-title, > i {
    font-size  : 20px;
    transition : transform .4s;
    @include normal-font();
  }
}

.P-vacancies-list-item, .P-vacancies-list-item-content {
  width     : 1000px;
  margin    : 0 auto 40px;
  max-width : 100%;
}

.P-vacancies-list-item-content {
  padding : 0 35px;
  
  > .P-description {
    font-size   : $normal-fs;
    line-height : 42px;
  }

  > .P-apply-online {
    width      : 100%;
    margin     : 40px 0 60px;
    text-align : center;
  }
}
