@import 'src/assets/styles/variables';

.G-page.P-home-news {
  display        : flex;
  background     : $very-light-gray;
  padding-top    : 100px;
  padding-bottom : 100px;
  flex-direction : column;

  @media(max-width : $tablet-screen) {
    padding-top    : 50px;
    padding-bottom : 50px;
  }

  > .P-shadow-text {
    margin-bottom : 130px;
  }

  > .G-main-ghost-button {
    margin-top : 75px;
  }

  > .P-list-wrapper {
    margin          : -15px;
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
  }
}
.P-home-news {
  > h1 > span {
    left: 17vw !important;
  }
}