@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.G-page.P-faq-page {

  > .P-content {
    display        : flex;
    padding        : 120px $page-horizontal-offset;
    flex-direction : column;

    > p {
      width         : 100%;
      color         : $text-gray;
      font-size     : 20px;
      line-height   : 36px;
      margin-bottom : 80px;
      @include bold-font();
    }

    > .P-list-wrapper {
      margin          : -25px;
      display         : flex;
      flex-wrap       : wrap;
      justify-content : center;
    }
  }
}
