@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

a {
  text-decoration: none !important;
  color: black;
}

hr {
  opacity: 0.4;
  font-size: 5px;
}

.P-list-item {
  color: black;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  text-decoration: none;
  border-radius: $big-radius;
  box-shadow: $default-block-shadow;
  font-size: $normal-fs;
  position: relative;

  > i {
    &.P-remove {
      position: absolute;
      top: 5px;
      right: 5px;
      margin-top: 10px;
      margin-right: 15px;
      color: #292929;
    }
  }

  &.P-out-of-stock-product {
    opacity: .5;
  }

  @media (max-width: $small-mobile-screen) {
    * {
      font-size: $small-fs;
    }
  }

  .P-product-det {
    position: relative;

    .P-prod-title {
      max-width: 550px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      margin-bottom: 20px;
      /* autoprefixer: off */
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      /* autoprefixer: off */
    }

    .P-out-of-stock {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      margin-bottom: 5px;
    }


    @media (min-width: $mobile-screen) {
      .P-main-info {
        margin-left: 70px;
      }
    }

    .P-main-info {
      margin: unset;
      align-content: center;
      align-items: center;
      text-align: center;
    }
    .P-image {
      display: flex;
      align-items: center;

      .G-square-image-block {
        width : 142px;
        height: 142px;
        margin-right: 20px;
      }

      .G-text-bold {
        width: 220px;
        overflow: visible;
        display: block;
      }
    }

  }

 .P-cart-item-price {
   font-weight: bold;
   color: #292929;
 }

  .P-bonus-amount-cart-item {
    word-break: break-word;
    text-align: center;
    width: 100px;
  }
}
