@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-bonus-and-type {

  display     : flex;
  align-items : center;

  > h4 {
    
    font-size    : $normal-fs;
    margin-right : 40px;
    @include normal-font;
  }

  > .P-preparing-days-icon {

    color        : $main-color;
    font-size    : $normal-fs;
    margin-right : 10px;
  }
}