@import 'src/assets/styles/variables';

.P-product-request-modal .P-modal-content {

  width               : 1200px;
  max-width           : calc(100% - 20px);
  padding             : 40px;
  border-radius       : $radius;
  margin-bottom       : $page-vertical-offset;

  > div > h2 { margin-bottom : 50px }
  > div > .G-fields-form > p { width: 100%; }
  > div > .P-choose-request-type {

    display       : flex;
    position      : relative;
    margin-bottom : 30px;

    &.P-choosed-form {

      &::before { left: 0; }
      > button:first-child { color: white; }
    }

    &.P-chosen-only-files {

      &::before { left: 180px; }
      > button:last-child { color: white; }
    }

    > button {

      width         : 170px;
      border        : 0;
      cursor        : pointer;
      z-index       : 1;
      padding       : 10px 0;
      position      : relative;
      font-size     : 20px;
      text-align    : center;
      background    : transparent;
      margin-right  : 10px;
    }

    &::before {

      width         : 170px;
      height        : 100%;
      content       : ' ';
      z-index       : 0;
      position      : absolute;
      transition    : .2s;
      background    : $main-color;
      border-radius : 25px;
    }
  }

  > div > form {

    > .P-product-request-item { margin-bottom: 25px; }

    > h4 {

      width       : 100%;
      font-size   : $normal-fs;
      text-align  : right;
      margin-left : auto;
    }
  }

  > div > p { font-size: $normal-fs; }

  .G-form-button {
  
    width      : auto;
    padding    : 0 40px;
    margin-top : 40px;
  }

  button.G-fields-form-add {
   
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    text-align: end;
  
    &[disabled] {
      
      background-color: white !important;
      cursor: default;
      color: black;
    }
  }
}