@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-my-company-page {

  > .P-my-company-content {

    width         : 100%;
    overflow      : hidden;
    box-shadow    : $default-block-shadow;
    border-radius : $radius;

    > .P-company-item {

      padding       : 30px;
      border-bottom : 8px solid $dark-gray;

      &:last-child { border-bottom: 0; }
      > h3 {

        display         : flex;
        margin-bottom   : 5px;
        justify-content : space-between;
        @include normal-font;

        span {

          cursor       : pointer;
          font-size    : $normal-fs;
          margin-right : 20px;

          &:last-child { margin-right: 0; }
        }
      }

      > h4 {

        color     : $text-gray-light;
        font-size : $normal-fs;
        @include normal-font;
      }

      > .P-default-address {

        display    : flex;
        margin-top : 20px;

        > span {
        
          display      : block;
          font-size    : $normal-fs;
          margin-right : 10px;
        }
      }
    }
  }
}