@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-additional-sales {

  > h4 {

    font-size : $normal-fs;
    @include normal-font;
  }

  > div {

    display     : flex;
    margin-top  : 15px;
    align-items : center;

    > i {

      color        : $pink;
      font-size    : 24px;
      margin-right : 12px;
    }

    > h3 {

      font-size : $normal-fs;
      @include normal-font;
    }
  }
}