@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.G-page.P-how-to-use-page {
  display        : flex;
  flex-direction : column;
  width          : calc(100% - 600px);
  padding        : 40px 175px;

  > .G-page-title {
    margin-bottom  : 20px;
    text-transform : uppercase;
  }

  > .P-big-video {
    width  : 100%;
    height : 80vh;
  }

  ul {
    margin-left: 20px;
    margin-top: 20px;
  }

  > .P-list {
    margin    : 15px -15px 0;
    display   : flex;
    flex-wrap : wrap;

    > .P-item {
      flex      : 1;
      width     : 350px;
      height    : 320px;
      margin    : 15px;
      max-width : 100%;
    }
  }
}
