@import 'src/assets/styles/variables';

.P-faq-page {

  > .P-content {

    display         : flex;
    justify-content : space-between;

    > div {
      
      width : calc(50% - 20px);
    }
  }
}