@import 'src/assets/styles/variables';

.P-proposal {

  width     : calc(100% + 20px);
  margin    : 0 -10px;
  display   : flex;
  flex-wrap : wrap;
}

.P-home-page > .P-proposal-more-one { margin-bottom: 40px; }