@import 'src/assets/styles/variables';

.P-profile-prescriptions {
  display: flex;
  flex-direction: column;

  > .P-content {
    display        : flex;
    overflow       : hidden;
    flex-direction : column;

    > h3 {
      display     : flex;
      padding     : 30px 40px;
      font-size   : 20px;
      align-items : center;
    }

    .P-see-more-label {
      color           : black;
      text-decoration : underline;
    }
  }

}
