@import 'src/assets/styles/variables';

.P-profile-prescriptions {

  > .P-content {
    flex-wrap      : wrap;
    display        : flex;

    > h3 {
      display     : flex;
      padding     : 30px 40px;
      font-size   : 20px;
      align-items : center;
    }

    .P-see-more-label {
      color           : black;
      text-decoration : underline;
    }
  }
}

@media (max-width : $mobile-screen) {

  .P-profile-prescriptions {
    .P-content {
      h3 {
        padding: 5px 15px;
      }
      a {
        font-size: 35px;
      }
    }
  }

}


