@import 'src/assets/styles/variables';

.G-page.P-blog-details-page {
  padding        : $page-vertical-offset $page-horizontal-offset + 40px;
  display        : flex;
  flex-direction : column;

  > .P-content {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;

    > .P-description {
      width       : 100%;
      padding     : 0 250px;
      line-height : 38px;

      h2 {
        text-align: center;
      }

      .ql-align-justify img {
        object-fit: contain;
        width: 100%;
        height: 400px;
      }
    }
  }
}
