@import 'src/assets/styles/variables';

.P-contact-page {

  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;

  > .P-contact-texts {

    width     : calc(50% - 40px);
    font-size : $normal-fs;
  }

  > .P-contact-form { width: calc(50% - 40px); }

  > .P-contact-maps {

    width      : 100%;
    height     : 500px;
    margin-top : 100px;
  }
}