@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-cart-page {

  display       : flex;
  flex-wrap     : wrap;
  align-items   : flex-start;
  align-content : flex-start;

  .P-clear-all {
    color           : $orange;
    cursor          : pointer;
    font-size       : 18px;
    white-space     : nowrap;
    text-decoration : underline;
  }

  .P-cart-block {
    width: 100%;
  }

  .P-basket-products {
    width: calc(100% - 400px);
  }

  .P-data-block-wrapper {
    width: 400px;
    margin-left: 50px;
    position: sticky;
    height: 280px;
    top: 135px;
    background: #F5F5F5;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 10px;
    padding: 25px 50px;
    margin-top: 30px;

    > .P-data-block-cart {
      width           : 100%;
      margin          : 20px 0;

      > .P-save-cart {
        color           : $main-color;
        // text-decoration : underline;
        cursor         : pointer;
        font-size      : $normal-fs;
        padding-bottom : 2px;
        border-bottom  : 1px solid $main-color;
      }
    }

    > .P-data-block {
      width           : 100%;
      margin          : 20px 0;
      display         : flex;
      justify-content : space-between;

      @media (max-width: $mobile-screen){
        padding: 0;
      }
    }

    > .P-pay-button {
      width        : 100%;
      @media (max-width : $mobile-screen) {
        padding : 7px 10px;
      };
    }
  }
}

.P-discounted-item {
  del {
    font-size : 22px;
    color     : rgba(0, 0, 0, .5);
  }
}

.P-card-table {
  .P-data-table-header {
    padding       : 0 !important;
    border-bottom : none !important;

    li {
      padding : 0 15px;
    }
  }

  .P-data-table-body {
    min-height : auto !important;
    // overflow   : unset;

    ul {
      margin         : 0 !important;
      padding-bottom : 0 !important;

      li {

        &:not(.P-data-table-actions) {
          padding : 15px;
        }
      }
    }

    .P-data-table-actions {
      display : none !important;
    }
  }

}
