@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-cart-page {

  display       : flex;
  flex-wrap     : wrap;
  align-items   : flex-start;
  align-content : flex-start;

  .P-table {
    width : 100%;

    .P-data-table-header {
      height        : 80px;
      padding       : 0 14vh;
      background    : none;
      border-top    : 1px solid $light-gray;
      border-bottom : 1px solid $light-gray;

      > li {
        color     : $text-gray;
        font-size : 22px;
        @include normal-font();
      }
    }
  
    .P-data-table-body {
      
      > ul {
        margin        : 40px 14vh 0;
        height        : auto;
        padding       : 0 0 40px;
        display       : flex;
        align-items   : center;
        border-bottom : 1px solid $light-gray;
      
        > li > div {
          position  : static;
          transform : initial;

          > a {
            color   : black;
            display : flex;
            @include bold-font;

            > .P-main-info {
              display         : flex;
              padding         : 0 30px;
              flex-direction  : column;
              justify-content : center;
      
              > span {
                margin-top : 20px;
                @include normal-font;
              }
            }
          }
        }
      }
    }
  }

  > .P-data-block {
    width           : 100%;
    margin          : 20px 0;
    padding         : 0 14vh;
    display         : flex;
    justify-content : flex-end;

    > .P-checkbox-row {
      width           : 300px;
      color           : $text-gray;
      cursor          : pointer;
      display         : flex;
      font-size       : $normal-fs;
      align-items     : center;
      justify-content : center;

      > span { margin-right: 10px; }
    }
  }

  > .P-pay-button {
    width        : 300px;
    margin-right : 14vh;
  }
}