@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

@import './responsive';

.P-cart-page {

  display       : flex;
  flex-wrap     : wrap;
  align-items   : flex-start;
  align-content : flex-start;

  .P-clear-all {
    color           : $orange;
    cursor          : pointer;
    font-size       : 18px;
    white-space     : nowrap;
    text-decoration : underline;
  }

  .P-table {
    width      : 100%;
    overflow-x : auto;

    .P-data-table-header {
      height     : 80px;
      padding    : 0 14vh;
      background : none;

      > li {
        color         : $text-gray;
        font-size     : 22px;
        height        : 100%;
        border-top    : 1px solid $light-gray;
        border-bottom : 1px solid $light-gray;
        display       : flex;
        align-items   : center;
        @include normal-font();
      }
    }

    .P-data-table-body {

      > ul {
        margin      : 40px 14vh 0;
        height      : auto;
        padding     : 0 0 40px;
        display     : flex;
        align-items : center;

        &.P-out-of-stock-product {
          opacity : .5;
        }

        > li {
          min-height    : 155px;
          display       : flex;
          align-items   : center;
        }

        > li > div {
          position  : static;
          transform : initial;

          > a {
            color   : black;
            padding : 5px;
            display : flex;
            @include bold-font;

            > .P-main-info {
              //width           : calc(100% - 120px);
              display         : flex;
              padding         : 0 0 0 30px;  // 0 30px;
              flex-direction  : column;
              justify-content : center;

              > h2 {
                font-size   : $normal-fs;
                word-break  : initial;
                white-space : initial;
              }

              > span {
                margin-top : 20px;
                @include normal-font;
              }
            }
          }
        }
      }
    }
  }

  > .P-data-block-wrapper {
    width: 300px;
    margin-left: calc(100% - 300px);

    > .P-data-block-cart {
      width           : 100%;
      margin          : 20px 0;

      > .P-save-cart {
        color           : $main-color;
        text-decoration : underline;
        cursor          : pointer;
        font-size       : $normal-fs;
      }
    }

    > .P-data-block {
      width           : 100%;
      margin          : 20px 0;
      display         : flex;
      justify-content : space-between;
      
      @media (max-width: $mobile-screen){
        padding: 0;
      }
    }
    
    > .P-pay-button {
      width        : 100%;
      @media (max-width : $mobile-screen) {
        padding : 7px 10px;
      };
    }
  }
}

.P-discounted-item {
  > del {
    font-size : 22px;
    color     : rgba(0, 0, 0, .5);
  }
}

.P-card-table {
  .P-data-table-header {
    padding       : 0 !important;
    border-bottom : none !important;

    li {
      padding : 0 15px;
    }
  }

  .P-data-table-body {
    min-height : auto !important;
    // overflow   : unset;

    ul {
      margin         : 0 !important;
      padding-bottom : 0 !important;

      .P-count {
        width: 100px;
      }

      li {

        &:not(.P-data-table-actions) {
          padding : 15px;
        }
      }
    }

    .P-data-table-actions {
      display : none !important;
    }
  }

}
