@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-wallet-title-box {

  @media (max-width: $mobile-screen) {
    flex-direction: column;

    .G-page-title-left {
      margin-bottom: 20px;
    }
  }
}
.P-cards-page {
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  border-radius   : 12px;

  .P-empty-list {

    .P-desc {
      margin-top: 20px;
    }
  }

  .G-main-button {
    margin  : 0;
    display : block;
  }

  .P-radio-wrap {
    width       : 100%;
    display     : flex;
    align-items : center;
    padding     : 10px 20px;
    border-bottom: 1px solid $light-gray;

    .P-radio-content {
      width: 100%;
    }
  }

  .P-card-wrap {
    max-width         : 355px;
    width             : 355px;
    height            : 196px;
    padding           : 24px 35px;
    background-repeat : no-repeat;
    position          : relative;
    display           : flex;
    flex-direction    : column;
    justify-content   : space-between;
    margin            : 10px;
    background-size   : contain;

    .P-remove {
      color      : $red;
      transition : all .3s;
      opacity    : 0;
      visibility : hidden;
      position   : absolute;
      top        : 10px;
      right      : 10px;

      &:before {
        content          : '';
        background-image : url('src/assets/images/icons/trash.svg');
        width            : 20px;
        height           : 20px;
        position         : absolute;
        right            : 0;
      }
    }

    &:hover .P-remove {
      visibility : visible;
      opacity    : 1;
    }

    .P-card-bank-info {
      color: #F9F9F9;
      text-transform: uppercase;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        margin-left : 30px;
        width       : 40px;
        height      : 30px;
      }
    }

    .P-card-info {

      .P-card-label {
        color: #F9F9F9;
        font-size: 14px;
        opacity: .5;
      }

      .P-card-data {
        color: #F9F9F9;
        font-size: 18px;
        text-transform: uppercase;
      }
    }

    .P-card-number {
      position: relative;
      .P-sim {
        width       : 35px;
        height      : 27px;
      }

      .P-card-code {
        text-align: right;
        width: 100%;
        color: #fff;
        font-size: 20px;
        line-height: 1.1;

        &:before {
          line-height: 1.1;
          content: '**** **** ****';
          position: absolute;
          color: #fff;
          font-size: 30px;
          left: 55px;
        }
      }

      div {
        width       : 40px;
        height      : 30px;
      }
    }
  }

}
