@import 'src/assets/styles/variables';

.G-page.P-tender-details-page {
  padding        : $page-vertical-offset $page-horizontal-offset + 40px;
  display        : flex;
  flex-direction : column;

  > .P-content {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;

    > .P-description { width: 100%; }
  }
}