@import 'src/assets/styles/variables';

.G-page.P-tenders-page {
  flex-wrap       : wrap;
  align-items     : flex-start;
  justify-content : center;

  > .P-content {
    width     : 100%;
    padding   : 0 200px 50px;
    display   : flex;
    flex-wrap : wrap;

    @media(max-width : $tablet-screen) {
      padding : 40px;
    }

    @media(max-width : $mobile-screen) {
      padding : 40px 0;
    }
  }
}