@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-wish-list-page {

  display       : flex;
  flex-wrap     : wrap;
  align-items   : flex-start;
  align-content : flex-start;

  > .P-wish-list-content {

    width         : 100%;
    box-shadow    : $default-block-shadow;
    border-radius : $radius;

    .P-product-row {

      color           : black;
      padding         : 10px;
      display         : flex;
      align-items     : center;
      text-decoration : none;
      justify-content : space-between;

      > .P-image {

        height        : 70px;
        border        : 1px solid $light-gray;
        padding       : 10px;
        min-width     : 70px;
        border-radius : $small-radius;

        > div {

          width  : 100%;
          height : 100%;
        }
      }

      > .P-name-attributes {

        color           : black;
        margin          : auto auto auto 0;
        padding         : 0 20px;
        max-width       : 30%;
        font-size       : 16px;
        word-break      : break-word;
        text-decoration : none;
        @include normal-font;
        
        &.P-G-pink { width: auto; }
        > .P-attributes {
        
          width      : 100%;
          color      : $text-gray-light;
          display    : block;
          font-size  : 14px;
          margin-top : 5px;
        }
      }

      > h3 {

        @include normal-font;

        &.P-price {

          overflow      : hidden;
          max-width     : 100%;
          text-align    : right;
          white-space   : nowrap;
          text-overflow : ellipsis;
          @include normal-font;
  
          > del {
          
            color       : $text-gray-light;
            margin-left : 10px;
          }
        }

        &.P-delete {
          
          cursor      : pointer;
          margin-left : 20px;
        }
      }
    }
  }
}