@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-profile-order-saved-basket-items {
  display   : flex;
  flex-wrap : wrap;

  > .G-main-button, > .G-main-ghost-button {
    width      : 200px;
    margin-top : 40px;
  }

  > .G-main-ghost-button {
    color         : $orange;
    border        : 2px solid $orange;
    background    : white;
    border-radius : 30px;
  }
}