@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.G-page.P-profile-page {
  padding    : 0;
  display    : flex;
  background : $very-light-gray;

  > .P-content {
    width   : calc(100% - 350px); // Left side size
    padding : 80px;

    .P-form-block {
      padding       : 40px;
      box-shadow    : $default-block-shadow;
      background    : white;
      border-radius : $big-radius;
      @include main-top-border;
    }
  }
}