@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.G-page.P-profile-page {
  padding     : 0;
  display     : flex;
  background  : $very-light-gray;
  justify-content: space-between;

  > .P-content {
    width: 75vw;
    max-width: calc(100vw - 250px);
    padding    : 20px;
    min-height : calc(100vh - #{$header-size} - 160px); // Full Height - Header size - Block top, bottom paddings
    @media (max-width: $tablet-screen) {
      width: 100%;
      max-width: none;
    }

    .P-form-block {
      padding       : 40px;
      box-shadow    : $default-block-shadow;
      background    : white;
      border-radius : $big-radius;
      @include main-top-border;
    }

    > .P-empty-state { min-height: inherit; }
  }
}