@import 'src/assets/styles/variables';

.P-range-track.P-products-filter-price-range {
  height     : 5px;
  padding    : 0 14px;
  background : #EFEFEF;

  .P-range-thumb { cursor: initial !important; }
}

.P-price-range-inputs {
  margin-top: 20px;
  input {
    padding: 10px 15px;
    width: calc(50% - 10px);
  }
}