@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-order-products {
  width : 100%;

  .P-data-table-body > a {
    height        : auto;
    display       : flex;
    padding       : 40px;
    align-items   : center;

    > li > div {
      display   : flex;
      position  : static;
      transform : initial;
      @include bold-font;

      > .G-square-image-block {
        width  : 150px;
        height : 150px;
      }

      > .P-main-info {
        display         : flex;
        padding         : 0 30px;
        flex-direction  : column;
        justify-content : center;

        > span {
          margin-top : 20px;
          @include normal-font;
        }
      }
    }
  }
}