@import 'src/assets/styles/variables';

@keyframes modal-content-opening {
  from { transform: scale(.9); }
  to { transform: scale(1); }
}

@keyframes modal-background-opening {
  from { background: transparentize(#000, .8); }
  to { background: transparentize(#000, .3); }
}

.P-modal-wrapper {
  top                 : 0;
  left                : 0;
  width               : 100%;
  right               : 0;
  height              : 100vh;
  bottom              : 0;
  z-index             : 20000;
  display             : flex;
  position            : fixed;
  animation           : modal-background-opening .1s;
  overflow-y          : auto;
  align-items         : center;
  justify-content     : center;
  animation-fill-mode : forwards;

  > div {
    display         : flex;
    max-width       : 100%;
    justify-content : center;

    > .icon-close {
      top       : 20px;
      right     : 20px;
      cursor    : pointer;
      z-index   : 1;
      position  : absolute;
      font-size : 20px;
    }
  }

  .P-modal-content {
    width               : 550px;
    padding             : 15px;
    position            : relative;
    max-width           : calc(100% - 20px);
    animation           : modal-content-opening .2s;
    box-shadow          : $default-block-shadow;
    background          : #fff;
    border-radius       : $big-radius;
    animation-fill-mode : forwards;

    .P-close {
      top       : 17px;
      right     : 17px;
      color     : $text-gray;
      cursor    : pointer;
      z-index   : 1;
      position  : absolute;
      font-size : 14px;
    }

    .P-loader-wrapper {
      height        : 100%;
      border-radius : $radius;
    }
  }
}

.P-modal-wrapper.P-modal-static .P-modal-content {

  top                 : $page-vertical-offset;
  animation           : modal-content-opening .1s;
  margin-bottom       : $page-vertical-offset;
  animation-fill-mode : forwards;
}
