@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-my-requests-page {

  > .P-page-content {

    display     : flex;
    align-items : flex-start;
  
    > .P-content {
  
      width         : calc(100% - 300px);
      background    : white;
      box-shadow    : $default-block-shadow;
      margin-left   : 20px;
      border-radius : $radius;
  
      > .P-request-item {

        cursor        : pointer;
        padding       : 30px;
        display       : flex;
        flex-wrap     : wrap;
        align-items   : flex-start;
        border-bottom : 8px solid $dark-gray;

        > .P-request-icon {

          width           : 40px;
          border          : 1px solid $light-gray;
          height          : 40px;
          display         : flex;
          align-items     : center;
          margin-right    : 15px;
          border-radius   : $small-radius;
          justify-content : center;

          > i {

            color     : $main-color;
            font-size : $normal-fs;
          }
        }
  
        &:last-child { border-bottom: 0; }

        > .P-request-content {

          width : calc(100% - 55px);

          > h3 {
  
            color           : $text-gray;
            display         : flex;
            font-size       : $normal-fs;
            margin-bottom   : 5px;
            justify-content : space-between;
            @include normal-font;

            > .P-request-status { font-size: 16px; }
          }
    
          > h4 {
    
            color     : $text-gray-light;
            font-size : 16px;
            @include normal-font;
          }
        }
      }
    }  
  }
}