@import 'src/assets/styles/variables.scss';
@import "src/assets/styles/helper";

.P-mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100.5vh;
  background: rgba(255, 255, 255, 0.01);
  background-size: cover;
  backdrop-filter: blur(2.5px);

  .P-mobile-menu {
    top: 0;
    left: 0;
    right: 0;
    width: 40vw;
    height: 100%;
    padding: 30px;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.01);

    @media (max-width: $tablet-screen) {
      width: 45vw;
    }

    @media (max-width: $mobile-screen) {
      width: 100vw;
    }

    .P-menu-profile-name {
      word-break: keep-all;
      @include normal-font()
    }


    .P-mobile-menu-close {
      position: absolute;
      right: 0;
      margin-right: 10px;

      > i {
        font-size: 20px;
      }
    }

    .P-image {
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    .P-mobile-menu-content {
      margin-top: 40px;


      .P-search-input {
        .G-main-input {
          padding: 8px 65px 8px 30px;
        }

        button {
          height: calc(100% - 5px);
          font-size: 15px;
        }

        .P-remove-text {
          margin-right: 65px;
          @media(max-width: $tablet-screen) {
            margin-right: 60px;
          }
          @media(max-width: $mobile-screen) {
            margin-right: 50px;
          }
        }
      }


      //.P-link {
      //  margin-top: 20px;
      //
      //  &:hover, &.P-active {
      //    background: $main-color-light;
      //  }
      //}

      .P-link {
          margin-top: 20px;

        &:before {
          content             : '';
          position            : absolute;
          margin-left         : -30px;
          width               : 20px;
          height              : 20px;
          background-size     : contain;
          background-repeat   : no-repeat;
          background-position : center;
        }

        &.P-icon-prescription:before {
          background-image: url('src/assets/images/icons/Prescription.svg');
        }

        &.P-icon-language:before {
          background-image: url('src/assets/images/icons/language.svg');
        }

        &.P-icon-clinic:before {
          background-image: url('src/assets/images/icons/clinic.svg');
        }

        &.P-icon-blog:before {
          background-image: url('src/assets/images/icons/blog.svg');
        }

        &.P-icon-online-pharmacy:before {
          background-image: url('src/assets/images/icons/online_pharmacy.svg');
        }

        &.P-icon-pharmacy:before {
          background-image: url('src/assets/images/icons/pharmacies.svg');
        }

        &.P-icon-notifications:before {
          background-image: url('src/assets/images/icons/notifications.svg');
        }

        &.P-icon-bonus_card:before {
          background-image: url('src/assets/images/icons/bonus.svg');
        }

        &.P-icon-orders:before {
          background-image: url('src/assets/images/icons/orders.svg');
        }

        &.P-icon-favorites:before {
          background-image: url('src/assets/images/icons/favorite.svg');
        }

        &.P-icon-special_products:before {
          background-image: url('src/assets/images/icons/special_products.svg');
        }

        &.P-icon-my_registrations:before {
          background-image: url('src/assets/images/icons/appointerments.svg');
        }

        &.P-icon-addresses:before {
          background-image: url('src/assets/images/icons/addresses.svg');
        }

        &.P-icon-my_wallet:before {
          background-image: url('src/assets/images/icons/my_wallet.svg');
        }

        &.P-icon-my_wallet:before {
          background-image: url('src/assets/images/icons/my_wallet.svg');
        }

        &.P-icon-logout:before {
          background-image: url('src/assets/images/icons/logout.svg');
        }

        &.P-active {
          background : $main-color-light;
        }

        &:hover, &.P-active {
          background: $main-color-light;
        }
      }

      // .P-menu-profile {
      //   // margin-top: 10px;
      // }

      .P-header-language-switcher {
        width: 80px;
        margin-top: 20px;

        span {
          text-overflow: unset;
          overflow: unset;
        }

        > .P-select {
          height: 40px;
          padding: 0.52vh 0.8vw;

          > .P-select-header,
          .P-select-body {
            font-size: 16px;
            padding: 0 !important;
          }
        }
      }
    }
  }
}
