@import 'assets/styles/variables.scss';

.P-mobile-menu {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background: #fff;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  top: 0;
  left: 0;
  right: 0;
  .P-mobile-menu-content {
    margin-top: 100px;
  }
}
.P-mobile-menu-close {
  display: flex;
  justify-content: flex-end;
}
.P-mobile-menu-layer {
  // &::before {
  //   content: '';
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   width: calc(100% - 40vw);
  //   height: 100%;
  //   background: rgba(0, 0, 0, .5);
  // }
}
.P-burger-menu {
  > img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}