@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-home-discounted-products-list-item {
  color           : black;
  display         : flex;
  padding         : 10px 30px 20px;
  position        : relative;
  box-shadow      : $default-block-shadow;
  background      : white;
  border-radius   : 10px;
  flex-direction  : column;
  text-decoration : none;
  margin          : 0 20px;
  height          : 500px;
  justify-content: space-between;
  @media(max-width: $medium-screen) {
    margin: 10px 20px;
  }

  @media(max-width: $tablet-screen) {
    height: 450px;
  }

  @media(max-width: $extra-small-mobile-screen) {
    height: 400px;
  }

  > .P-image {
    width   : 100%;
    height  : 250px;
    padding : 20px;

    @media(max-width : $tablet-screen) {
      height : 170px;
    }
  }

  > h3 {
    height        : 65px;
    text-align    : center;
    align-items   : center;
    //margin-bottom : 25px;
    @media (max-width : $mobile-screen) {
      //margin-bottom : 20px;
      font-size     : 18px;
      height: auto;
    }
  }

  > .P-price {
    color      : $orange;
    font-size  : 20px;
    text-align : center;
    @include bold-font();
  }

  > .P-without-discount-price {
    text-align    : center;
    margin-bottom : 10px;
    @include bold-font();
    @media (max-width : $small-screen) {
      margin-bottom: 0;
    }
  }

  > .G-main-button {
    width         : 100%;
    padding       : 10px 0;
    margin-top    : 25px;
    border-radius : $big-radius;
    @media (max-width : $small-screen) {
      margin-top: 0;
    }

    span {
      font-size : 16px;
      @media (max-width : $small-screen) {
        font-size : 14px;
      }
    }
  }
}
