@import 'assets/styles/variables.scss';

.P-arca { background: url('../../../../../../../assets/images/Arca.png') center/contain no-repeat; }
.P-visa { background: url('../../../../../../../assets/images/visaImage.svg') center/cover no-repeat; }
.P-master { background: url('../../../../../../../assets/images/master.png') center/contain no-repeat; }

.P-ipay-button {
  display: inline-block;
  text-decoration: underline;
  color: $main-color;
}