@import 'src/assets/styles/variables';

.P-search-input {
  width     : 400px;
  display   : flex;
  position  : relative;
  max-width : 100%;

  &.P-search-input-submit > input { padding-right: 80px; }

  > button {
    top          : 50%;
    right        : 0;
    color        : $orange;
    border       : none;
    height       : calc(100% - 14px);
    padding      : 0 30px 0 20px;
    position     : absolute;
    transform    : translateY(-50%);
    font-size    : 20px;
    background   : none;
    line-height  : 40px;
    border-left  : 1px solid $light-gray;

    >.ladda-button {
      background : white !important;
      padding    : 5px !important;
      border     : 0;
    }

    .icon-Group-5502 {
      color : $orange;
    }
  }
}