@import "src/assets/styles/variables";

.P-home-carousel-slide {
  display         : flex !important;
  flex-direction  : column;
  justify-content : center;
  position        : relative;
  @media (max-width: $mobile-screen) {
    min-height      : 450px!important;

  }
  &:before {
    position         : absolute;
    content          : '';
    z-index          : 5;
    left             : 0;
    top              : 0;
    width            : 100%;
    height           : 100%;
    background-color : rgba(0, 0, 0, 0.4);
  }

  @media(max-width : $tablet-screen) {
    min-height : 400px !important;
  }
  @media(max-width : $mobile-screen) {
    min-height : 220px !important;
  }
  > .P-shadow-text {
    margin-bottom : 60px;
    position      : relative;
    z-index       : 10;
  }

  > img {
    width         : 550px;
    max-width     : 50%;
    margin-bottom : 60px;
  }

  > p {
    width         : 50%;
    font-size     : 24px;
    margin-bottom : 80px;
    font-weight   : bold;
    color         : $white;
    position      : relative;
    z-index       : 10;

    @media(max-width : $tablet-screen) {
      width     : 100%;
      font-size : 20px;
    }
    @media(max-width : $mobile-screen) {
      font-size     : 15px;
      margin-bottom : 10px;
    }
  }

  > .G-main-button {
    padding      : 10px 30px;
    margin-right : auto;
    position     : relative;
    z-index      : 10;
  }
}

@media(max-width : 1400px) {

  .P-home-carousel-slide {
    background-size : cover !important;
  }
}
