@import "src/assets/styles/variables";

.G-page.P-home-carousel-slider {
  padding : 0 !important;

  &:hover .slick-arrow { opacity: 1 !important; }

  .slick-arrow {
    z-index       : 1;
    transition    : .4s;
    width         : 29px;
    height        : 29px;
    opacity       : 0;
    border-radius : 50%;

    &.slick-prev {
      left : 25px;
    }

    &.slick-next {
      right : 25px;
    }
    &::before {
      top       : 0;
      left      : -3px;
      position  : absolute;
      font-size : 35px;
      color     : transparentize(black, .7);
    }
  }
  .slick-dots > li {
    width  : 15px;
    height : 15px;

    &.slick-active > button {
      border     : 1px solid $main-color;
      background : white;
    }

    > button {
      width      : 12px;
      height     : 12px;
      border     : 0;
      background : transparentize(white, .6);
    }
  }
}

.P-home-carousel-slide {
  display         : flex !important;
  flex-direction  : column;
  justify-content : center;
  position        : relative;

  @media (max-width: $mobile-screen) {
    min-height      : 450px!important;

  }
  &:before {
    position         : absolute;
    content          : '';
    z-index          : 5;
    left             : 0;
    top              : 0;
    width            : 100%;
    height           : 100%;
    background-color : transparentize(#000, .9);
  }

  @media(max-width : $tablet-screen) {
    min-height : 400px !important;
  }



  @media(max-width : $mobile-screen) {
    min-height : 220px !important;
  }
  > .P-shadow-text {
    color         : white;
    width         : 50%;
    z-index       : 10;
    position      : relative;
    font-size     : 80px;
    margin-bottom : 20px;
  }

  > img {
    width         : 550px;
    max-width     : 50%;
    margin-bottom : 60px;
  }

  > p {
    width          : 50%;
    font-size      : 28px;
    letter-spacing : 5px;
    margin-bottom  : 80px;
    font-weight    : bold;
    color          : $white;
    position       : relative;
    z-index        : 10;



    @media(max-width : $mobile-screen) {
      font-size     : 15px;
      margin-bottom : 10px;
    }
  }

  > .G-main-button {
    padding      : 10px 30px;
    margin-right : auto;
    position     : relative;
    z-index      : 10;
    @media(max-width: $small-mobile-screen) {
      padding: 7px 12px;
      font-size: 14px;
    }
  }
}

@media(max-width : 2560px) {
  .G-page{
    min-height : 1000px !important;
    max-width: 2600px !important;
  }
  .P-home-carousel-slide {
    max-width: 2600px !important;
    background-size : 100% 100% !important;
  }
}
@media(max-width :2000px) {
  .G-page{
    min-height : 900px !important;
  }
}

@media(max-width : 1440px) {
  .G-page{
    min-height : 800px !important;
  }
}

@media(max-width : 1024px) {
  .G-page{
    min-height : 700px !important;
  }
}
@media(max-width : 850px) {
  .G-page{
    min-height : 600px !important;
  }
}



@media(max-width : 785px) {
  .G-page{
    min-height : 550px !important;
  }
}
@media(max-width : 650px) {
  .G-page{
    min-height : 500px !important;
  }
}
@media(max-width : 650px) {
  .G-page{
    min-height : 400px !important;
  }
}

@media(max-width : 425px) {
  .G-page{
    min-height : 250px !important;
  }
}

@media(max-width : 375px) {
  .G-page{
    min-height : 200px !important;
  }
}

@media(max-width : 320px) {
  .G-page{
    min-height : 150px !important;
  }
}
