@import "src/assets/styles/variables";
.P-home-carousel-slide {
  display         : flex !important;
  flex-direction  : column;
  justify-content : center;

  @media(max-width: $tablet-screen){
    min-height: 400px !important;
  }
  > .P-shadow-text { margin-bottom: 60px; }

  > img {
    width         : 550px;
    max-width     : 50%;
    margin-bottom : 60px;
  }

  > p {
    width         : 50%;
    font-size     : 24px;
    margin-bottom : 60px;
    @media(max-width: $tablet-screen){
      width: 100%;
      font-size: 20px;
    }
    @media(max-width: $mobile-screen){
      font-size: 15px;
    }
  }

  > .G-main-button {
    padding      : 10px 30px;
    margin-right : auto;
  }
}

@media(max-width: 1400px){
  .P-home-carousel-slide{
    background-size: cover !important;
  }
}
