@import 'src/assets/styles/variables';

.P-blog-details-info {
  width   : 100%;
  padding : 0 13vw;
  @media (max-width: 440px) {
    padding : 0 8vw;
  }

  > .P-name {
    display       : flex;
    margin-bottom : 40px;
  }

  > h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  > h3 {
    color         : $text-gray;
    margin-bottom : 20px;

    &.P-unit {
      border-bottom  : 2px solid $dark-gray;
      padding-bottom : 20px;
    }
  }

  > p {
    line-height   : 38px;
  }
}
