@import 'src/assets/styles/variables';
@import "src/assets/styles/helper";

.P-mobile-header {
  width           : 100%;
  height          : 100%;
  display         : flex;
  align-items     : center;
  justify-content : space-between;

  .P-burger-menu {
    display : block;

    > img {
      width  : 24px;
      height : 24px;
      cursor : pointer;
      margin-top : 15px;
    }

    > i {
      color     : #F26D26;
      font-size : 24px;
    }
  }

  .P-logo-mobile {
    width   : 130px;
    height  : 70px;
    display : block;

    img {
      margin-top: 11px;
    }
  }

  .P-mobile-header-icons {
    display         : flex;
    justify-content : space-between;

    .P-profile {
      color           : black;
      padding         : 0;
      display         : flex;
      align-items     : center;
      text-decoration : none;

      > .P-image {
        height        : 30px;
        min-width     : 30px;
        max-width     : 30px;
        border-radius : 50%;
      }

      > h4, h5 {
        @include normal-font();
      }
    }

    > a {
      margin-right : 20px;

      &.P-notification {
        margin-right: 15px;
      }

      &:last-child {
        margin-right : 0;
      }
    }
  }

  .P-search-wrapper-mobile {
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    width: 100%;
    top: 70px;

    .G-main-input {
      border: none;
    }

    .P-header-search-result {
      width: 100%;
      box-shadow: none;
      border-top: 1px solid #ccc;
      top: 53px;

      .P-list-item {
        flex-direction: column;
      }
    }
  }
}
