@import 'src/assets/styles/variables';

.P-products-filter {
  min-width    : 300px;
  max-width    : 300px;
  margin-right : 120px;

  > h2 {  
    margin      : 40px 0 20px;
    font-weight : 300;

    &:first-child { margin-top: 0; }
    &.P-main-category { cursor: pointer; }
  }

  > .P-row-title {
    cursor          : pointer;
    display         : flex;
    user-select     : none;
    align-items     : center;
    justify-content : space-between;

    > span { font-size: 34px; }
  }

  > .P-checkbox-row {
    display       : flex;
    align-items   : center;
    margin-bottom : 15px;

    > .rc-checkbox {
      display     : flex;
      align-items : center;
    }

    > .P-name {
      width         : 100%;
      overflow      : hidden;
      font-size     : $normal-fs;
      margin-left   : 10px;
      white-space   : nowrap;
      text-overflow : ellipsis;
    }
  }
}