@import 'src/assets/styles/variables';

@import './responsive';

.P-products-filter-toggle {
  cursor        : pointer;
  display       : flex;
  font-weight   : 300;
  align-items   : center;

  > i {
    font-size   : 16px;
    margin-left : 10px;
  }
}

.P-products-filter {
  min-width     : 340px;
  max-width     : 340px;
  margin-right  : 40px;
  border-right  : 2px solid $light-gray;
  padding-right : 40px;

  .P-main-category {
    cursor: pointer;
    font-weight: 300;
    margin-bottom: 40px;
  }

  .P-row-wrap {
    border        : 1px solid $light-gray;
    border-radius : 20px;
    padding       : 4px 15px 9px;
    margin-top    : 10px;

    .P-row-content {
      max-height : 200px;
      overflow-y : auto;
      margin-top: 20px;
    }

    > h2, > h3 {  
      font-weight : 300;
  
      &.P-main-category { cursor: pointer; }
    }
  
    > .P-row-title {
      cursor          : pointer;
      display         : flex;
      user-select     : none;
      align-items     : center;
      justify-content : space-between;
  
      > span { font-size: 34px; }
    }
  
    .P-checkbox-row {
      cursor        : pointer;
      display       : flex;
      align-items   : center;
      margin-bottom : 15px;
  
      > .rc-checkbox {
        display     : flex;
        align-items : center;
      }
  
      > .P-name {
        width         : 100%;
        overflow      : hidden;
        font-size     : $normal-fs;
        margin-left   : 10px;
        white-space   : nowrap;
        text-overflow : ellipsis;
      }
    }
  }


  > .P-cancel-button {
    width        : 100%;
    color        : #211f1f;
    padding      : 10px 0;
    margin-top   : 20px;
    border-color : $text-gray;
  }
}