@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-profile-my-registrations-page {

  > .P-title {
    cursor : pointer;
    @include normal-font;

    @media (max-width: $small-mobile-screen) {
      * {
        font-size: $small-fs !important;
      }
    }

    @media (min-width: $small-mobile-screen) {
      justify-content: unset;
      .P-registrations-title {
        margin-right: 20px;
      }
    }

     a {
      color           : black;
      text-decoration : none;
    }

     p {
      padding-bottom : 10px;
    }

    .P-registrations-title {
      color          : $orange;
      border-bottom  : 1px solid $orange;
    }

  }

  > .P-list {
    display         : flex;
    justify-content : space-between;
    flex-wrap       : wrap;

    .P-list-item {
      width: 48.5%;

      @media (max-width: $tablet-screen) {
        width: 100%;
      }
    }
  }
}
