@import 'src/assets/styles/variables';

.P-home-news-list-item {
  flex            : 1;
  margin          : 15px;
  display         : block;
  overflow        : hidden;
  box-shadow      : $default-block-shadow;
  background      : white;
  border-radius   : 10px;
  text-decoration : none;

  > .P-image {
    width  : 100%;
    height : 250px;
  }

  > .P-content {
    padding : 10px 30px 30px;
    height: 180px;
    text-align: center;

    > h3 {
      line-height   : 24px;
      margin-bottom : 15px;
      color: #000;
    }
  }
}