@import 'src/assets/styles/variables';
@import './responsive';

.P-home-news-list-item {
  flex            : 1;
  margin          : 15px;
  display         : block;
  overflow        : hidden;
  box-shadow      : $default-block-shadow;
  background      : white;
  border-radius   : 10px;
  text-decoration : none;

  > .P-image {
    width  : 358px;
    height : 358px; // 250px;
  }

  > .P-content {
    padding : 10px 30px 30px;
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    > h3 {
      line-height   : 24px;
      //margin-bottom : 15px;
      color: #000;
    }
  }
}
.homedmy{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:210px;
  color:#8E8E8E;
  opacity: 0.6;
}

