@media (max-width: $max-screen) {
  .G-page.P-privacy-policy-page {

    > .P-content {
      padding   : 0 100px 50px;
    }
  }
}

@media (max-width: $small-screen) {
  .G-page.P-privacy-policy-page {

    > .P-content {
      padding   : 0 70px 50px;
    }
  }
}

@media (max-width: $tablet-screen) {
  .G-page.P-privacy-policy-page {

    > .P-content {
      padding   : 0 50px 50px;
    }
  }
}

@media (max-width: $mobile-screen) {
  .G-page.P-privacy-policy-page {

    > .P-content {
      padding   : 0 30px 50px;
    }
  }
}

@media (max-width: $small-mobile-screen) {
  .G-page.P-privacy-policy-page {

    > .G-page-title {
      margin-bottom: 0;
      font-size: 30px;
    }

    > .P-content {
      padding   : 0 20px 30px;

      p {
        margin-bottom: 5px;
        font-size: 14px;
      }

    }
  }
}

@media (max-width: $extra-small-mobile-screen) {
  .G-page.P-privacy-policy-page {

    > .P-content {
      padding   : 0 10px 10px;
    }
  }
}
