@import 'src/assets/styles/variables';

.P-product-details-info {
  width : calc(55% - 50px);

  > .P-name {
    display       : flex;
    margin-bottom : 60px;
  }

  > h3 {
    color         : $text-gray;
    margin-bottom : 20px;

    &.P-unit {
      border-bottom  : 2px solid $dark-gray;
      padding-bottom : 20px;
    }

    &.P-row {
      width         : 100%;
      display       : flex;
      min-width     : 350px;
      align-items   : center;
      margin-bottom : 40px;

      > .P-value {
        color       : black;
        width       : 50%;
        margin-left : auto;
      }
    }
  }

  > p {
    line-height   : 28px;
    margin-bottom : 30px;
  }

  > .P-cart-actions {
    display         : flex;
    flex-wrap       : wrap;
    align-items     : center;
    margin-bottom   : 40px;
    justify-content : flex-start;

    > .G-main-button {
      margin  : 10px auto 10px 0;
      padding : 15px 50px;
    }

    > .P-price {
      padding     : 10px 0;
      display     : flex;
      font-size   : 1.5em;
      font-weight : bold;
      align-items : center;
      
      > del {
        color        : #8D8D8D;
        display      : block;
        margin-right : 30px;
      }
      > span {
        color: $main-color;
        display: block;
        margin-right: 40px;
      }
    }

    > .P-count-input {
      height : 50px;
      margin : 10px 30px 10px 0;
    }
  }

  > .P-count-info {
    margin : 20px 0 30px 0;
  
    > span {
      width       : 50%;
      color       :#49B748;
      cursor      : pointer;
      font-size   : 18px;
      font-weight : bold;
    }
  
    .P-selected-count-type {
      color : #000 !important;
    }
  }
}