@import 'src/assets/styles/variables';

.P-wish-list-invite-modal .P-modal-content {

  width         : 600px;
  padding       : 40px;
  border-radius : $radius;

  > div > h2 { margin-bottom: 30px; }
  > div > .P-G-fields-form > .P-G-form-button {

    color     : white;
    border    : 0;
    font-size : $normal-fs;
  }
}