@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-profile-prescriptions-create {

  @media (max-width: $small-mobile-screen) {
    .G-main-form .G-main-form-half-field {
      width: 100%;
    }

    * {
      font-size: $small-fs !important;
    } 
  }

  @media (max-width: $small-mobile-screen) {
    h3 {
      margin-bottom: 30px !important;
    }
  }


  > h3 {
    width           : 100%;
    color           : $main-color;
    padding         : 0 40px;
    position        : relative;
    display         : flex;
    font-size       : 38px;
    margin-bottom   : 60px;
    justify-content : center;

    > i {
      top       : 50%;
      left      : 0;
      width     : 26px;
      position  : absolute;
      transform : translateY(-50%);
    }
  }

  > .P-form {
    width         : 100%;
    padding       : 40px;
    display       : flex;
    flex-wrap     : wrap;
    background    : white;
    box-shadow    : $default-block-shadow;
    border-radius : $big-radius;
    @include main-top-border;

    > .P-upload-part {
      display     : flex;
      flex-wrap   : wrap;
      align-items : flex-start;

      > .P-upload-button {
        width       : 100%;
        display     : flex;

        > .G-main-button {
          width           : 260px;
          cursor          : pointer;
          display         : flex;
          font-size       : 16px;
          max-width       : 100%;
          align-items     : center;
          justify-content : center;
  
          > i {
            font-size    : 28px;
            margin-right : 10px;
          }
        }  
      }

      > .P-uploaded {
        width       : 80px;
        height      : 80px;
        margin      : 0 10px 20px;
        border      : 1px solid $light-gray;
        cursor      : pointer;
        display     : flex;
        align-items : flex-start;

        > i {
          cursor      : pointer;
          padding     : 5px;
          font-size   : 12px;
          background  : white;
          margin-left : auto;
        }
      }
    }

    > .P-submit {
      width        : 425px;
      max-width    : 100%;
      margin-left  : auto;
      margin-right : auto;
    }
  }
}