@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-profile-favorites-saved-basket-items {


  .P-actions {
    @media (max-width: $mobile-screen) {
      flex-direction: column;
      .G-main-button, > .G-main-ghost-button {
        width: 100% !important;
        margin-right: unset;
        margin-left: unset;
      }
    }
    .G-main-button, > .G-main-ghost-button {
      width: 200px;
      margin-top: 40px;
    }

    .G-main-ghost-button {
      color: $orange;
      border: 2px solid $orange;
      background: white;
      border-radius: 30px;
    }
  }

  .P-list-item {
    padding    : 25px 50px;
    box-shadow : 0 0 5px #00000029;

    @media (max-width: $small-screen) {
      padding : 25px 10px;

      .P-image {

        .G-square-image-block {
          margin-right: 20px;
          width: 100px;
          height: 100px;
        }
      }
    }

    @media (max-width: $mobile-screen) {
      margin: 10px 20px;

      .P-product-det {
        flex-direction: column;

        .P-image {
          flex-direction: column;

          .G-square-image-block {
            margin: 0 !important;
          }

          .P-prod-title {
            text-align: center;
          }
        }
      }
    }
  }

  @media (max-width: $tablet-screen) {
    width: 100%;

    .P-image {

      .G-square-image-block {
        margin-right: 20px;
        width: 100px;
        height: 100px;
      }
    }
  }
}
