@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

footer {
  display        : flex;
  padding        : 25px $page-horizontal-offset;
  box-shadow     : 0 0 50px transparentize(#000000, .9);
  flex-direction : column;

  > .P-logo {
    width         : 170px;
    margin-bottom : 40px;
  }

  > .P-content {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;

    > .P-column {
      max-width : 350px;

      > p {
        line-height   : 42px;
        margin-bottom : 20px;
      }

      > h3 {
        font-size : $normal-fs;
        @include bold-font();
      }

      > a {
        color           : initial;
        text-decoration : none;
      }

      > h3, a {
        display         : flex;
        align-items     : center;
        line-height     : 24px;
        margin-bottom   : 20px;

        > i {
          font-size    : 24px;
          margin-right : 15px;
        }

        > img {
          width        : 35px;
          height       : 35px;
          margin-right : 15px;
        }
      }

      > .P-social-links {
        display    : flex;
        margin-top : 20px;

        > a {
          color : $text-gray;

          > i { font-size: 28px; }
        }
      }
    }
  }

  > .P-mobile-app {
    margin-top : 40px;

    > img {
      width        : 150px;
      height       : 54px;
      margin-right : 20px;
    }
  }

  > .P-copyright {
    color       : $text-gray;
    padding     : 20px 0 0;
    font-size   : 14px;
    text-align  : center;
    border-top  : 1px solid $light-gray;
    margin-top  : 20px;
    font-weight : 300;
  }
}