@import 'src/assets/styles/variables';

.P-empty-state {

  width       : 100%;
  margin-left : auto;
  height      : 100%;
  display     : flex;
  min-height  : 500px;

  img {
    width         : 100%;
    margin-bottom : 15px;
  }

  > div {
    width           : 500px;
    height          : 100%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    margin          : auto;


    .P-empty-list {
      text-align : center;

      > p {
        font-size : 18px;
        color     : $text-gray;
      }
    }
  }
}
