@import 'src/assets/styles/variables';

.P-profile-special-products {
  padding        : 0 20px;
  display        : flex;
  background     : white;
  box-shadow     : $default-block-shadow;
  border-radius  : $big-radius;
  flex-direction : column;
  position       : relative;

  .P-help-icon {
    position : absolute;
    top      : -50px;
    right    : 0;
    width    : 30px;
    cursor   : pointer;
  }

  > .P-list-item {
    color           : black;
    padding         : 20px 0;
    display         : flex;
    align-items     : center;
    border-bottom   : 1px solid $light-gray;
    justify-content : space-between;
    text-decoration : none;

    > .P-image {
      display         : flex;
      align-items     : flex-start;
      justify-content : flex-end;
    }

    > .P-main-info {
      margin : 0 auto 0 40px;

      > h2 { margin-bottom: 20px; }
    }

    .P-price {
      margin-right : 40px;
    }

    > .P-edit-icon {
      font-size : 26px;

      &.P-disabled {
        cursor  : not-allowed;
        opacity : .3;

        > i { color: black; }
      }
    }

    &:last-child { border-bottom: 0; }
  }
}