@font-face {
  font-family: 'Segoe UI';
  src:  url('../../fonts/segoeui.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.G-fs-normal {
  font-size : $normal-fs !important;
}


$fonts: (
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  24,
  26,
  28,
  48,
);

@each $size in $fonts {
  .G-fs-#{$size} {
    font-size : #{$size + px};
  }
}

.G-text-center {
  text-align : center;
}

.G-text-right {
  text-align : right;
}

.G-text-bold {
  @include bold-font;
}
