@font-face {
  font-family: 'Verdana';
  src:  url('../../fonts/verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mardoto';
  src:  url('../../fonts/mardoto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserratarm';
  src:  url('../../fonts/Montserratarm-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
