@import 'src/assets/styles/variables';
.P-change-type {
  background   : none;
  border       : none;
  position     : absolute;
  margin-top   : 18px;
  margin-left  : -40px;

  @media (max-width : $mobile-screen) {
    margin-top : 9px;
  }

  img {
    width  : 20px;
    height : 20px;
  }
}

.P-order-item {

  @media (max-width : $tablet-screen) {
    flex-direction: column;

    .P-list-item {
      text-align: center;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      .G-square-image-block {
        margin: auto auto 20px;
      }
    }
  }
}
