@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-product-details-pricing {

  display       : flex;
  margin-bottom : 20px;

  > h3 {

    color     : $pink;
    font-size : 24px;
    @include normal-font;
  }

  > del {

    color       : $text-gray-light;
    font-size   : 24px;
    margin-left : 20px;
  }
}