@import 'src/assets/styles/variables';

.P-product-list-page {

  display     : flex;
  align-items : flex-start;

  .P-product-page-navigation-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    padding: 0px 0px 0px 340px;
    top: 160px;
    width: 100%;
 }

  .P-product-page-navigation-item {
    display: block;
    margin: 0px 5px;
  }
  .cascade-link {
    color: rgb(146, 143, 143);
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }
.P-product-page-navigation-tool {
  display: inline-block;
  margin: 0px 3px;
}
  > .P-content {

    width : calc(100% - 320px); /* 320px = Filter + Offsets */

    > .P-G-show-action-button { margin: 20px auto 0; }
    > .P-product-list {

      width     : 100%;
      display   : flex;
      flex-wrap : wrap;
  
      > .P-product-item { width: calc(33% - 20px); }
    }
  
    > .P-empty-state {
  
      height     : calc(100vh - #{$header-size + $page-vertical-offset * 2});
      min-height : initial;
    }  
  }
}

.P-product-page-navigation-tool {
  display: inline-block;
  position: relative;
  &::before {
    content: '/';
    margin-left: 3px;
  }
}



.P-product-page-navigation-item {
  &:last-child {
    .cascade-link {
      color: #29A27D;
      font-weight: 700;
    }
    .P-product-page-navigation-tool {
      &::before {
        content: "";
      }
    }
  }

  
}
