@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-header-categories-wrapper {
  top             : $header-size + 15px;
  left            : 0;
  width           : 100%;
  display         : flex;
  position        : absolute;
  justify-content : flex-end;

  .P-content {
    display       : flex;
    position      : fixed;
    max-height    : calc(100vh - #{$header-size});
    padding-right : 15px;
  
    > .P-list {
      padding       : 15px 0;
      min-width     : 300px;
      max-width     : 300px;
      transition    : .4s;
      overflow-y    : auto;
      background    : white;
      box-shadow    : $default-block-shadow;
      margin-left   : 15px;
      border-radius : $radius;

      > div {  
        cursor        : pointer;
        display       : flex;
        padding       : 15px 10px 15px 40px;
        align-items   : center;
        margin-bottom : 10px;
        border-radius : $small-radius;
  
        &:last-child { margin-bottom: 0; }
        &:hover, &.P-category-choosed {
        
          background : #F1FFF1;
        }
  
        > img {
  
          width        : 22px;
          height       : 20px;
          object-fit   : contain;
          margin-right : 10px;
        }
  
        > h3 {
          width         : 100%;
          overflow      : hidden;
          font-size     : 16px;
          white-space   : nowrap;
          text-overflow : ellipsis;
        }
  
        > i {
          font-size   : 10px;
          margin-left : 15px;
          @include bold-font;
        }
      }
    }
  }
}