@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.G-page.P-services-page {
  padding : 0;

  > .P-header {
    width           : 100%;
    height          : 300px;
    padding         : 20px $page-horizontal-offset;
    display         : flex;
    background      : url('src/assets/images/services.png') center/cover;
    align-items     : center;
    justify-content : flex-start;
    @media(max-width: $mobile-screen) {
      height: 250px;
      padding: 0;
      justify-content: center;
    }
    @media(max-width: $extra-small-mobile-screen) {
      height: 150px;
    }

    > .P-shadow-text {
      font-size    : 80px;
      padding-left : 100px;
      margin-bottom: 0 !important;
      @media(max-width: $mobile-screen) {
        padding-left: 0;
      }
      @media(max-width: $small-mobile-screen) {
        font-size: 28px !important;
      }
      @media(max-width: $extra-small-mobile-screen) {
        font-size: 24px !important;
      }

      > .P-background {
        left      : initial;
        right     : -15vw;
        font-size : 120px;
      }
    }
  }

  > .P-content {
    display        : flex;
    padding        : 120px $page-horizontal-offset;
    flex-direction : column;
    @media(max-width: $mobile-screen) {
      padding: 80px 60px;
    }
    @media(max-width: $small-mobile-screen) {
      padding: 60px 40px;
    }
    @media(max-width: $extra-small-mobile-screen) {
      padding: 20px;
    }

    > p {
      width         : 100%;
      color         : $text-gray;
      font-size     : 20px;
      line-height   : 36px;
      margin-bottom : 80px;
      @include bold-font();
      @media(max-width: $small-mobile-screen) {
        font-size: 16px;
        margin-bottom: 50px;
      }
      @media(max-width: $extra-small-mobile-screen) {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }

    > .P-list-wrapper {
      margin          : -25px;
      display         : flex;
      flex-wrap       : wrap;
      justify-content : center;
    }
  }
}
