@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

@keyframes in-top {

  from { transform: rotate3d(-1, 0, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-right {

  from { transform: rotate3d(0, -1, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-bottom {

  from { transform: rotate3d(1, 0, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes in-left {

  from { transform: rotate3d(0, 1, 0, 90deg); }
  to { transform: rotate3d(0, 0, 0, 0deg); }
}

@keyframes out-top {

  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(-1, 0, 0, 115deg); }
}

@keyframes out-right {

  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(0, -1, 0, 115deg); }
}

@keyframes out-bottom {

  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(1, 0, 0, 115deg); }
}

@keyframes out-left {

  from { transform: rotate3d(0, 0, 0, 0deg); }
  to { transform: rotate3d(0, 1, 0, 115deg); }
}

.P-home-page > .P-home-categories {

  margin    : 0 -10px 60px;
  display   : flex;
  flex-wrap : wrap;

  > .P-flipper {

    width         : calc(25% - 20px);
    margin        : 10px;
    position      : relative;
    overflow      : hidden;
    box-shadow    : $default-block-shadow;
    background    : white;
    perspective   : 1000px;
    border-radius : $radius;

    > .P-category-front, > .P-category-back {

      width  : 100%;
      height : 100%;

      &.P-category-front {

        color               : black;
        display             : flex;
        padding             : 20px;
        background          : white;
        align-items         : center;
        flex-direction      : column;
        justify-content     : center;
        text-decoration     : none;
        backface-visibility : hidden;
  
        > .P-image {
  
          width         : 250px;
          height        : 200px;
          max-width     : 100%;
          margin-bottom : 5px;
        }
    
        > h3 {
          
          font-size : 16px;
          text-align: center;
          @include normal-font;
        }
      }
  
      &.P-category-back {
        
        top        : 0;
        left       : -1px;
        color      : white;
        width      : calc(100% + 2px);
        height     : 100%;
        padding    : 5px;
        position   : absolute;
        overflow   : hidden;
        transform  : rotate3d(1, 0, 0, 90deg);
        background : $main-color;
        box-shadow : $default-block-shadow;

        > div {

          width      : 100%;
          height     : 100%;
          padding    : 15px 0;
          overflow-y : auto;

          &::-webkit-scrollbar-thumb { background: #33564F; }
          > a {

            width           : 100%;
            color           : white;
            display         : block;
            padding         : 8px 20px;
            font-size       : 14px;
            word-break      : break-word;
            text-decoration : none;
  
            &:hover {
  
              color      : $main-color;
              background : transparentize(white, .2);
            }
          }
        }
      }
    }

    &.P-in-top .P-category-back {

      animation        : in-top .3s ease 0ms 1 forwards;
      transform-origin : 50% 0%;
    }

    &.P-in-right .P-category-back {

      animation        : in-right .3s ease 0ms 1 forwards;
      transform-origin : 100% 0%;
    }

    &.P-in-bottom .P-category-back {

      animation        : in-bottom .3s ease 0ms 1 forwards;
      transform-origin : 50% 100%;
    }

    &.P-in-left .P-category-back {

      animation        : in-left .3s ease 0ms 1 forwards;
      transform-origin : 0% 0%;
    }
    
    &.P-out-top .P-category-back {
      
      animation         : out-top .3s ease 0ms 1 forwards;
      transform-origin : 50% 0%;
    }

    &.P-out-right .P-category-back {

      animation        : out-right .3s ease 0ms 1 forwards;
      transform-origin : 100% 50%;
    }

    &.P-out-bottom .P-category-back {

      animation        : out-bottom .3s ease 0ms 1 forwards;
      transform-origin : 50% 100%;
    }
    
    &.P-out-left .P-category-back {

      animation        : out-left .3s ease 0ms 1 forwards;
      transform-origin : 0% 0%;
    }
  }
}