@import 'src/assets/styles/variables';

.P-checkout-choose-address-modal {

  .P-modal-content {
    width      : 800px;
    padding    : 60px 0 20px;
    overflow-y : auto;
    max-height : 600px;

    .P-data-table > .P-data-table-body > ul{

      &:hover { background: $dark-gray; }

      .P-done-icon {
        width       : 30px;
        padding-top : 5px;
      }
    }

    .G-main-button {
      margin    : 40px 20px 0 auto;
      display   : block;
      font-size : $normal-fs;
    }
  }
}