@import './variables';

.G-page-content {
  padding-top : $header-size;
  @media (max-width : $small-screen) {
    padding-top : 70px;
  }

  @media (max-width : $mobile-screen) {
    padding-top : 0;
  }
}
