@media (max-width: $max-screen) {
  .react-multi-carousel-list > ul > li {
    width : 330px !important;
  }
}

@media (max-width: $medium-screen) {
  $page-horizontal-offset : 20px;

  header { padding: 0 $page-horizontal-offset; }

  footer {
    padding: 10px $page-horizontal-offset;

    .P-content {

      .P-column {
        max-width: 300px;
      }

    }

  }

  .G-page { padding: $page-vertical-offset $page-horizontal-offset; }
}
