@media (max-width: $medium-screen) {
  $page-horizontal-offset : 40px;

  header { padding: 25px $page-horizontal-offset; }
  footer { padding: 25px $page-horizontal-offset; }

  .G-page { padding: $page-vertical-offset $page-horizontal-offset; }
}
@media (max-width: 1690px) {
  .P-list-wrapper {
    overflow-y: auto !important;
    .react-multi-carousel-list {
      > ul > li {
        width: 330px !important;
      }
    }
  }
  .react-multi-carousel-track {
  }
  > li {
    // margin-right: 20px;
    // overflow-y: auto !important;

  }
}