@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-request-button {

  width           : 50px;
  color           : white;
  height          : 50px;
  right           : 50px;
  bottom          : 50px;
  cursor          : pointer;
  display         : flex;
  position        : fixed;
  font-size       : 20px;
  transform       : rotate(45deg);
  box-shadow      : 0 0 15px transparentize(#6B6B6B, .5);
  background      : $main-color;
  transition      : .4s;
  align-items     : center;
  border-radius   : $small-radius;
  justify-content : center;
  @include bold-font;

  &:hover { transform: rotate(45deg) scale(1.1); }
}