@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.G-page.P-pharmacies-search-results {
  display        : flex;
  background     : $very-light-gray;
  padding-top    : 100px;
  padding-bottom : 0;
  flex-direction : column;

  > .P-shadow-text { margin-bottom: 90px; }

  > .P-content {
    width      : 100%;
    height     : 60vh;
    display    : flex;
    min-height : 500px;
    flex-wrap  : wrap;

    > .P-list {
      flex           : 1;
      display        : flex;
      height         : 100%;
      padding        : 0 20px 0 0;
      min-width      : 350px;
      overflow-y     : auto;
      align-items    : flex-start;
      flex-direction : column;

      > h3 {
        cursor        : pointer;
        margin-bottom : 30px;
      }
    }

    > .P-maps-wrapper {
      width     : calc(100% - 350px);
      height    : 100%;
      position  : relative;
      min-width : 500px;

      > .P-search-input {
        top      : 20px;
        left     : 20px;
        z-index  : 1;
        position : absolute;
      }

      > .P-google-maps {
        width  : 100%;
        height : 100%;
  
        .P-info-window {
          width   : 300px;
          padding : 10px 20px;
  
          > h3 {
            font-size : 22px;
            @include normal-font;
          }
  
          > .P-info-row {
            display     : flex;
            font-size   : 18px;
            margin-top  : 20px;
            @include normal-font;
  
            > i {
              font-size    : 26px;
              margin-right : 20px;
            }
  
            span {
  
              display    : block;
              margin-top : 10px;
  
              &:first-of-type { margin-top: 0; }
            }
          }
        }
      }
    }
  }
}