@import 'src/assets/styles/variables';
@import 'src/assets/styles/helper';

.P-products-discount-label {
  top: 23px;
  left: -3px;
  color: white;
  width: 120px;
  height: 50px;
  padding: 8px 20px;
  display: flex;
  z-index: 1;
  position: absolute;
  font-size : $small-fs;
  @include bold-font();
}