@import 'src/assets/styles/variables';

.P-slider-back, .P-slider-next {
    
  top             : 50%;
  width           : 35px;
  height          : 35px;
  cursor          : pointer;
  z-index         : 1;
  display         : flex;
  position        : absolute;
  transform       : translateY(-50%);
  background      : transparent !important;
  align-items     : center;
  border-radius   : $small-radius;
  justify-content : center;

  &.P-slider-back { left: -60px; }
  &.P-slider-next { right: -60px; }

  &::before {
    color     : gray;
    font-size : 30px;
  }
}