@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-login-modal .P-modal-content {

  width         : 600px;
  padding       : 40px;
  border-radius : $radius;
  > div {
  > h2 { margin-bottom: 10px; }
  > h4 {
    
    margin-bottom : 60px;
    @include normal-font;

    > a {
      
      color  : $main-color;
      cursor : pointer;
    }
  }

  > .P-G-invalid-text { margin: -20px 0 20px; }
  > form {

    > .P-G-field > .P-login-eye {

      color       : $main-color;
      font-size   : $normal-fs;
      margin-left : 10px;
    }

    > .P-login-restore {

      width         : 100%;
      cursor        : pointer;
      display       : block;
      text-align    : right;
    }
    
    > button {

      width          : 100%;
      height         : 50px;
      margin-top     : 25px;
      background     : $main-color;
      border-radius  : $radius;
      text-transform : uppercase;
    }
  }
}

  > div > .P-social-login {

    display     : flex;
    margin-top  : 50px;
    align-items : center;

    > .P-social-button {

      color      : #000;
      margin     : 5px 0 0 20px;
      border     : 0;
      background : transparent;
      width: 15px;
      box-shadow: none !important;
      background: transparent !important;
      transition: none !important;
      >div {
        display: none;
      }
      i {

        color     : $main-color;
        font-size : 26px;
      }
    }
  }
}
.error-area {
  box-shadow: 0 0 15px transparentize(#E6374C, 0.5);
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;

}
.P-social-button.metro {
  color      : #000;
  margin     : 5px 0 0 20px;
  border     : 0;
  background : transparent;
  width: 100%;
  i {

    color     : $main-color;
    font-size : 26px;
  }
}