@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-services-list-item {
  width          : 450px;
  height         : 280px;
  margin         : 25px;
  cursor         : pointer;
  display        : flex;
  overflow       : hidden;
  position       : relative;
  max-width      : 100%;
  box-shadow     : $default-block-shadow;
  border-radius  : $big-radius;
  flex-direction : column;
  @include main-top-border();

  &:hover {
    border-top  : 0;
    padding-top : 12px; // Border size

    > .P-description {
      top       : 50%;
      opacity   : 1;
      transform : translateY(-50%);
    }
  }

  > .P-title {
    color      : $main-color;
    margin     : auto;
    font-size  : 28px;
    text-align : center;
  }

  > .P-description {
    top         : 0;
    color       : $text-gray;
    width       : 100%;
    height      : auto;
    opacity     : 0;
    padding     : 10px 20px 15px;
    position    : absolute;
    font-size   : $normal-fs;
    transform   : translateY(100%);
    transition  : .4s;
    max-height  : 100%;
    background  : white;
    overflow-y  : auto;
    line-height : 32px;
  }
}