@import 'src/assets/styles/variables';

.P-blog-first-item {
  width         : 100%;
  display       : flex;
  overflow      : hidden;
  flex-wrap     : wrap;
  box-shadow    : $default-block-shadow;
  border-radius : 12px;

  > div {
    
    &.P-image {
      flex      : 1;
      height    : 450px;
      min-width : 270px;
      max-width : 100%;
    }
  
    &.P-content {
      flex      : 1;
      padding   : 20px 40px;
      min-width : 270px;
      max-width : 100%;
  
      > h2 { margin-bottom: 20px; }

      > p {
        font-size     : 20px;
        margin-bottom : 30px;
      }
    }  
  }  
}

@media (max-width: $medium-screen) {
  .P-blog-first-item {

    > div {

      &.P-content {
        padding   : 20px 30px;
      }
    }
  }
}

@media (max-width: $tablet-screen) {
  .P-blog-first-item {

    > div {

      &.P-image {
        height    : 420px;
        min-width : 240px;
      }

      &.P-content {
        padding   : 10px 20px;

        > h2 {
          margin-bottom: 10px;
          font-size: $normal-fs;
        }

        > p {
          font-size     : 16px;
          margin-bottom : 20px;
        }
      }
    }
  }
}
