@media (max-width: $max-screen) {
  div.P-news-list-item {
    width         : calc(100% / 3 - 20px);
    margin        : 10px;

    > .P-content {
      //padding: 15px 30px;
      padding: 10px 20px;
    }
  }
}

@media (max-width: $medium-screen) {
  div.P-news-list-item {
    width         : calc(50% - 40px);
    margin        : 20px;

    > .P-content {
      padding: 15px 30px;
    }
  }
}

@media (max-width: $small-screen) {
  div.P-news-list-item {
    width         : calc(50% - 20px);
    margin        : 10px;

    > .P-content {
      padding: 10px 20px;
    }
  }
}

@media (max-width: $tablet-screen) {
  div.P-news-list-item {
    width  : calc(100% - 40px);
    margin : 20px;

    > .P-content {
      padding: 20px 40px;
    }
  }
}

@media (max-width: $mobile-screen) {
  div.P-news-list-item {
    width  : calc(100% - 20px);
    margin : 10px;

    > .P-content {
      padding: 10px 20px;
    }

  }
}

@media (max-width: $small-mobile-screen) {
  div.P-news-list-item {
    width  : calc(100% - 40px);
    margin : 10px 20px;

    > .P-image {
      width      : 130px;
      height: 130px;
      min-height : 120px;
    }

    > .P-content {
      padding: 5px 10px;

      > h3 {
        font-size: $small-fs;
      }
      > h4 {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  div.P-news-list-item {

    > .P-content {
      >h4{
        margin-left: 350px;
      }
    }
  }
}

@media (min-width: 1024px) {
  div.P-news-list-item {

    > .P-content {
      >h4{
        margin-left: 150px;
      }
    }
  }
}
@media (min-width: 1440px) {
  div.P-news-list-item {

    > .P-content {
      >h4{
        margin-left: 300px;
      }
    }
  }
}
@media (min-width: 2560px) {
  div.P-news-list-item {

    > .P-content {
      >h4{
        margin-left: 180px;
      }
    }
  }
}
