@media (max-width: $max-screen) {
  div.P-news-list-item {
    width         : calc(100% / 3 - 20px);
    margin        : 10px;

    > .P-content {
      //padding: 15px 30px;
      padding: 10px 20px;
    }
  }
}

@media (max-width: $medium-screen) {
  div.P-news-list-item {
    width         : calc(50% - 40px);
    margin        : 20px;

    > .P-content {
      padding: 15px 30px;
    }
  }
}

@media (max-width: $small-screen) {
  div.P-news-list-item {
    width         : calc(50% - 20px);
    margin        : 10px;

    > .P-content {
      padding: 10px 20px;
    }
  }
}

@media (max-width: $tablet-screen) {
  div.P-news-list-item {
    width  : calc(100% - 40px);
    margin : 20px;

    > .P-content {
      padding: 20px 40px;
    }
  }
}

@media (max-width: $mobile-screen) {
  div.P-news-list-item {
    width  : calc(100% - 20px);
    margin : 10px;

    > .P-content {
      padding: 10px 20px;
    }

  }
}

@media (max-width: $small-mobile-screen) {
  div.P-news-list-item {
    width  : calc(100% - 40px);
    margin : 10px 20px;

    > .P-image {
      width      : 170px;
      min-height : 120px;
    }

    > .P-content {
      padding: 5px 10px;

      > h3 {
        font-size: $small-fs;
      }
    }
  }
}

@media (max-width: $extra-small-mobile-screen) {
  div.P-news-list-item {
    width  : calc(100%);
    //margin : 15px 20px;

    > .P-image {
      width      : 150px;
      min-height : 100px;
    }

    > .P-content {
      padding: 5px;

      > h3 {
        margin-bottom : 10px;
        //font-size: $big-radius;
      }
    }
  }
}
