@import 'src/assets/styles/helper';
@import 'src/assets/styles/variables';

.P-cart-price-counter {

  top           : $header-size + 40px;
  width         : 300px;
  position      : sticky;
  transition    : .4s;
  background    : $dark-gray;
  border-radius : $big-radius;

  > .P-counters {

    padding : 30px;

    > h2 {

      font-size     : 24px;
      margin-bottom : 30px;
    }

    > h3 {

      font-size     : $normal-fs;
      margin-bottom : 15px;
      @include normal-font;

      &:last-child { margin-bottom: 5px; }
    }
  }

  h3 {

    display : flex;
    @include normal-font;

    > span { margin-left: auto; }
    &.P-total {

      padding                    : 20px 30px;
      background                 : white;
      box-shadow                 : 0px 8px 10px -10px #CCC;
      border-bottom-left-radius  : $big-radius;
      border-bottom-right-radius : $big-radius;
    }
  }
}